<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.zkingedu.common.dao.BillDao">

    <!--账单接口Mapper-->


   <!--添加账单表的方法-->
    <insert id="addBill" parameterType="com.zking.zkingedu.common.model.Bill">
        insert into t_bill(bill_uid,bill_type,bill_integral,bill_time,bill_content)
        values(#{billUid},#{billType},#{billIntegral},#{billTime},#{billContent})
    </insert>


</mapper>