<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.zkingedu.common.dao.BillDao">

    <!--使全局的映射器启用或禁用缓存  开启二级缓存-->
<!--    <cache type="com.zking.zkingedu.common.redis.MybatisRedisCache"></cache>-->
    <!--账单接口Mapper-->

    <sql id="billAll">
        bill_id,bill_uid,bill_type,bill_integral,bill_time,bill_content,bill_state
    </sql>

   <!--添加账单表的方法-->
    <insert id="addBill" parameterType="com.zking.zkingedu.common.model.Bill">
        insert into t_bill(bill_uid,bill_type,bill_integral,bill_time,bill_content,bill_state)
        values(#{billUid},#{billType},#{billIntegral},#{billTime},#{billContent},#{billState})
    </insert>

    <!--根据用户id查询所以的账单信息数据-->
    <select id="findAll" parameterType="integer" resultType="com.zking.zkingedu.common.model.Bill">
      select <include refid="billAll"/> from t_bill where bill_uid = #{userId} ORDER BY bill_time desc
    </select>

    <!--根据用户名称查询出账单信息-->
    <select id="findBillUname" resultType="java.util.Map" parameterType="string">
        select u.user_name as user_name,b.* from t_user u,t_bill b where 1 = 1
        and u.user_id = b.bill_uid
        <if test="userName==null">
             ORDER BY b.bill_time desc
        </if>
         <if test="userName!=null">
              and u.user_name like '%${userName}%' ORDER BY b.bill_time desc
         </if>
    </select>

    <!-- 查询用户充值的积分总数-->
    <select id="billIntegraltype1" resultType="java.lang.Integer">
        select SUM(bill_integral) from t_bill where bill_type = 1
    </select>
    <!--查询用户消费的积分总数-->
    <select id="billIntegraltype0" resultType="java.lang.Integer">
        select SUM(bill_integral) from t_bill where bill_type = 2
    </select>


</mapper>