<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.zkingedu.common.dao.ChargeDao">

    <!--充值记录接口Mapper-->

    <sql id="chargeall">
        charge_id,charge_uid,charge_money,charge_integral,charge_time
    </sql>

    <!--充值积分的方法-->
    <insert id="addCharge" parameterType="com.zking.zkingedu.common.model.Charge">
        insert into t_charge(charge_uid,charge_money,charge_integral,charge_time)
        values(#{chargeUid},#{chargeMoney},#{chargeIntegral},#{chargeTime})
    </insert>
</mapper>