<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.zkingedu.common.dao.ChargeDao">

    <!--使全局的映射器启用或禁用缓存  开启二级缓存-->
    <!--<cache type="com.zking.zkingedu.common.redis.MybatisRedisCache"></cache>-->
    <!--充值记录接口Mapper-->

    <sql id="chargeall">
        charge_id,charge_uid,charge_money,charge_integral,charge_time,charge_state
    </sql>

    <!--充值积分的方法-->
    <insert id="addCharge" parameterType="com.zking.zkingedu.common.model.Charge">
        insert into t_charge(charge_uid,charge_money,charge_integral,charge_time,charge_state)
        values(#{chargeUid},#{chargeMoney},#{chargeIntegral},#{chargeTime},#{chargeState})
    </insert>

    <!--根据用户id查询出所有的充值记录信息-->
    <select id="findCharge" resultType="com.zking.zkingedu.common.model.Charge" parameterType="integer">
        select
        <include refid="chargeall"/>
        from t_charge where charge_uid = #{userId} and charge_state = 1
    </select>

    <!--修改充值记录表的状态 为2 ，页面上的按钮是删除-->
    <update id="updateState">
        update t_charge set charge_state = 2 where charge_id = #{chargeID}
    </update>
</mapper>