<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.zkingedu.common.dao.CourseTypeDao">

    <!--使全局的映射器启用或禁用缓存  开启二级缓存-->
<!--    <cache type="com.zking.zkingedu.common.redis.MybatisRedisCache"></cache>-->
    <!--课程类型接口Mapper-->

    <sql id="courseTypeSql">
        t_id,t_name
    </sql>

    <!--//查询所有课程类型-->
    <select id="getCourseTypes"  resultType="com.zking.zkingedu.common.model.CourseType">
        select <include refid="courseTypeSql"/> from course_type
    </select>


    <select id="getCourseTypeByPageAndSearch" resultType="com.zking.zkingedu.common.model.CourseType">
        select <include refid="courseTypeSql"/> from course_type
        <where>
            <if test="tName != null and tName != ''">
                 t_name like '%${tName}%'
            </if>
        </where>
    </select>



    <!--添加课程类别-->
    <insert id="addCourseType" useGeneratedKeys="true" keyProperty="tId">
        insert into course_type (t_name) values (#{tName})
    </insert>


    <!--修改课程类型-->
    <update id="updateCourseType">
        update course_type set t_name = #{tName} where t_id=#{tId}
    </update>



    <!--删除多个课程类型-->
    <delete id="delsCourseType" parameterType="list">
        delete from course_type where t_id in(
            <foreach collection="list" separator="," item="id">
                #{id}
            </foreach>
        )
    </delete>

</mapper>