<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.zkingedu.common.dao.MessageDao">

    <!--使全局的映射器启用或禁用缓存  开启二级缓存-->
    <cache type="com.zking.zkingedu.common.redis.MybatisRedisCache"></cache>
    <!--消息接口Mapper-->
    <sql id="MessageAll">
        message_id,message_uid1,message_uid2,message_pid,message_name,message_content,message_time,message_state
    </sql>

    <!--增加消息的方法-->
    <insert id="addMessage" parameterType="com.zking.zkingedu.common.model.Message">
        insert into
        t_message(message_uid1,message_uid2,message_pid,message_name,message_content,message_time,message_state)
        values(#{messageUid1},#{messageUid2},#{messagePid},#{messageName},#{messageContent},#{messageTime},1)
    </insert>


    <!--根据用户id查询所以的消息通知-->
    <select id="findMessage" resultType="java.util.Map">
        select u.user_img, m.* from t_message m,t_user u where m.message_uid1 = u.user_id and m.message_uid2 = #{userID}
        ORDER BY message_state asc , message_time desc
    </select>

    <!--修改未读状态为已读状态-->
    <update id="updateState" parameterType="integer">
        update t_message set message_state = 2 where message_id = #{messageid}
    </update>

    <!--查询有多少条消息记录-->
    <select id="findCountjl" parameterType="integer" resultType="integer">
        select COUNT(message_id) from t_message where message_uid2 = #{userID} and message_state = 1
    </select>

    <!--根据消息id查询评论id-->
    <select id="findMessahePid" resultType="java.lang.Integer" parameterType="integer">
        select message_pid from t_message where message_id = #{messageId}
    </select>

</mapper>