<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.zkingedu.common.dao.MessageDao">

    <!--消息接口Mapper-->
    <sql id="MessageAll">
        message_id,message_uid,message_name,message_content,message_time,message_state
    </sql>

    <!--增加消息的方法-->
    <insert id="addMessage" parameterType="com.zking.zkingedu.common.model.Message">
        insert into t_message(message_uid,message_name,message_content,message_time,message_state)
        values(#{messageUid},#{messageName},#{messageContent},#{messageTime},1)
    </insert>


    <!--根据用户id查询所以的消息通知-->
    <select id="findMessage" resultType="java.util.Map">
        select u.user_img, m.* from t_message m,t_user u where m.message_uid = u.user_id and u.user_id = #{userID}
    </select>

    <!--修改未读状态为已读状态-->
    <update id="updateState" parameterType="integer">
        update t_message set message_state = 2 where message_id = #{messageid}
    </update>


</mapper>