<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.zkingedu.common.dao.PostDao">

    <!--帖子接口Mapper-->
     <insert id="addPost" parameterType="com.zking.zkingedu.common.model.Post">
              insert  into
                          t_post(post_id,post_uid,post_name,post_content,post_time,post_state,post_category)
              values (#{postID},#{postUid},#{postName},#{postContent},#{postTime},#{postState},#{postCategory})
     </insert>

<!--    获取所有分类的帖子-->
    <select id="getpctae" resultType="com.zking.zkingedu.common.model.Pcata">
              select * from
                           t_pcata
    </select>


<!--    根据自己的uid找到所有的帖子-->
    <select id="getAllPosts" parameterType="integer" resultType="com.zking.zkingedu.common.model.Post">
               select post_id,post_name,post_time,post_state
                               from t_post
               where post_uid=#{postUid}
    </select>



<!--     根据帖子id查到具体详情-->
    <select id="getPostandUse" parameterType="integer" resultType="java.util.HashMap">
                 select a.*,b.user_id,b.user_name,b.user_img,count(c.give_id) jishu FROM
                                                                 t_post a,t_user b,t_give c
                 where a.post_id=#{id} and a.post_uid=b.user_id and c.give_pid=a.post_id
    </select>


<!--    根据帖子ID找到所有的评论-->
    <select id="getTcomAll" parameterType="integer" resultType="com.zking.zkingedu.common.model.Tcomment">
              select tcomment_id,tcomment_cid,tcomment_uid,tcomment_content,tcomment_time,tcomment_fid
                         from t_tcomment
              where tcomment_cid=#{id}
    </select>




<!--    根据id找到所有的评论-->
    <select id="getAllTandUser" parameterType="integer" resultType="java.util.HashMap">
               select a.*,b.user_id,b.user_img,b.user_name,c.user_name uname2,c.user_id uid2
                        from t_tcomment a,t_user b,t_user c
              where a.tcomment_cid=#{id} and a.tcomment_uid=b.user_id AND a.tcomment_dyuid=c.user_id ORDER BY a.tcomment_lounum DESC
    </select>


<!--    找到最大的楼主号-->
<select id="getMaxlouZnum" resultType="integer" >
           select MAX(tcomment_lounum) from t_tcomment
</select>

<!--发表评论 -->
    <insert id="addTcomment" parameterType="com.zking.zkingedu.common.model.Tcomment">
              insert  into
             t_tcomment(tcomment_cid,tcomment_uid,tcomment_content,tcomment_time,tcomment_fid,tcomment_dyuid,tcomment_lounum)
             value (#{tcommentCid},#{tcommentUid},#{tcommentContent},#{tcommentTime},#{tcommentFid},#{tcommentUid2},#{tcommentLounum})

    </insert>

<!-- 删除评论表-->
<delete id="deletePl" parameterType="integer">

      DELETE from t_tcomment where tcomment_id=#{id};
</delete>

   <!--删除父评论的同时删除子评论-->
    <delete id="deleteFpl" parameterType="integer">
               DELETE from t_tcomment where tcomment_fid=#{id};
    </delete>

    <!--增加浏览量的方法-->
    <insert id="addpostNum" parameterType="integer">
             update t_post set
                             post_num=post_num+1
             where post_id=#{id}
    </insert>


<!--    根据uid查到点赞表-->
    <select id="queryGive" parameterType="com.zking.zkingedu.common.model.Give" resultType="integer">
         select count(*) from t_give where give_pid=#{givePid} AND give_uid=#{giveUid}
    </select>

<!--    根据uid和帖子id删除点赞表-->
    <delete id="delGive" parameterType="com.zking.zkingedu.common.model.Give" >
              delete  from
                          t_give
              where give_uid=#{giveUid} and  give_pid=#{givePid}
    </delete>

<!--    增加帖子表-->
    <insert id="addGive" parameterType="com.zking.zkingedu.common.model.Give">
             insert  into
                        t_give(give_id,give_pid,give_uid,give_time)
             values (#{giveID},#{givePid},#{giveUid},#{giveTime})
    </insert>


<!--  添加收藏-->
<insert id="addCollection" parameterType="com.zking.zkingedu.common.model.Hoarding">
           insert into
                       t_collection(collection_zpid,collection_state,collection_time)
           values (#{collectionZpid},#{collectionState},#{collectionTime})
</insert>

<!--    取消收藏-->
    <delete id="deleteCollention" parameterType="com.zking.zkingedu.common.model.Hoarding" >
              delete  from
                          t_collection
              where collection_zpid=#{collectionZpid} and collection_state=#{collectionState} and collection_uid=collectionUid
    </delete>

<!--查询收藏时否有-->
    <select id="queryCollection" parameterType="com.zking.zkingedu.common.model.Hoarding" resultType="integer">
             select count(*) from t_collection where collection_uid=#{collectionUid} and collection_zpid=#{collectionZpid} AND collection_state=#{collectionState}
    </select>

</mapper>