<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.zkingedu.common.dao.PostDao">

    <!--使全局的映射器启用或禁用缓存  开启二级缓存-->
<!--<cache type="com.zking.zkingedu.common.redis.MybatisRedisCache"></cache>-->

    <!--帖子接口Mapper-->
     <insert id="addPost" parameterType="com.zking.zkingedu.common.model.Post">
              insert  into
                          t_post(post_uid,post_name,post_content,post_time,post_state,post_category,post_num)
              values (#{postUid},#{postName},#{postContent},now(),#{postState},#{postCategory},#{postNum})
     </insert>

<!--    获取所有分类的帖子-->
    <select id="getpctae" resultType="com.zking.zkingedu.common.model.Pcata">
              select * from
                           t_pcata
    </select>


<!--    根据自己的uid找到所有的帖子-->
    <select id="getAllPosts" parameterType="integer" resultType="com.zking.zkingedu.common.model.Post">
               select post_id,post_name,post_time,post_state,post_num
                               from t_post
               where post_uid=#{postUid} and post_state!=3 ORDER BY post_time DESC
    </select>



<!--     根据帖子id查到具体详情-->
    <select id="getPostandUse" parameterType="integer" resultType="java.util.HashMap">
                 select a.*,b.user_id,b.user_name,b.user_img,count(c.give_id) jishu FROM
                                                                 t_post a,t_user b,t_give c
                 where a.post_id=#{id} and a.post_uid=b.user_id and c.give_pid=a.post_id
    </select>


<!--    根据帖子ID找到所有的评论-->
    <select id="getTcomAll" parameterType="integer" resultType="com.zking.zkingedu.common.model.Tcomment">
              select tcomment_id,tcomment_cid,tcomment_uid,tcomment_content,tcomment_time,tcomment_fid
                         from t_tcomment
              where tcomment_cid=#{id}
    </select>




<!--    根据id找到所有的评论-->
    <select id="getAllTandUser" parameterType="integer" resultType="java.util.HashMap">
               select a.*,b.user_id,b.user_img,b.user_name,c.user_name uname2,c.user_id uid2,(select IFNULL(COUNT(*),0) FROM t_tcomment WHERE tcomment_fid=a.tcomment_id) sl
                        from t_tcomment a,t_user b,t_user c
              where a.tcomment_cid=#{id} and a.tcomment_uid=b.user_id AND a.tcomment_dyuid=c.user_id ORDER BY a.tcomment_lounum DESC
    </select>


<!--    找到最大的楼主号-->
<select id="getMaxlouZnum"  parameterType="integer" resultType="integer">
           select IFNULL(MAX(tcomment_lounum),0) from t_tcomment where tcomment_cid=#{id}
</select>

<!--发表评论 -->
    <insert id="addTcomment" parameterType="com.zking.zkingedu.common.model.Tcomment">
              insert  into
             t_tcomment(tcomment_cid,tcomment_uid,tcomment_content,tcomment_time,tcomment_fid,tcomment_dyuid,tcomment_lounum)
             value (#{tcommentCid},#{tcommentUid},#{tcommentContent},#{tcommentTime},#{tcommentFid},#{tcommentUid2},#{tcommentLounum})

    </insert>

<!-- 删除评论表-->
<delete id="deletePl" parameterType="integer">

      DELETE from t_tcomment where tcomment_id=#{id};
</delete>

   <!--删除父评论的同时删除子评论-->
    <delete id="deleteFpl" parameterType="integer">
               DELETE from t_tcomment where tcomment_fid=#{id};
    </delete>

    <!--增加浏览量的方法-->
    <insert id="addpostNum" parameterType="integer">
             update t_post set
                             post_num=post_num+1
             where post_id=#{id}
    </insert>


<!--    根据uid查到点赞表-->
    <select id="queryGive" parameterType="com.zking.zkingedu.common.model.Give" resultType="integer">
         select count(*) from t_give where give_pid=#{givePid} AND give_uid=#{giveUid}
    </select>

<!--    根据uid和帖子id删除点赞表-->
    <delete id="delGive" parameterType="com.zking.zkingedu.common.model.Give" >
              delete  from
                          t_give
              where give_uid=#{giveUid} and  give_pid=#{givePid}
    </delete>

<!--    增加帖子表-->
    <insert id="addGive" parameterType="com.zking.zkingedu.common.model.Give">
             insert  into
                        t_give(give_id,give_pid,give_uid,give_time)
             values (#{giveID},#{givePid},#{giveUid},#{giveTime})
    </insert>


<!--  添加收藏-->
<insert id="addCollection" parameterType="com.zking.zkingedu.common.model.Hoarding">
           insert into
                       t_collection(collection_zpid,collection_state,collection_uid,collection_time)
           values (#{collectionZpid},2,#{collectionUid},now())
</insert>

<!--    取消收藏-->
    <delete id="deleteCollention" parameterType="com.zking.zkingedu.common.model.Hoarding" >
              delete  from
                          t_collection
              where collection_zpid=#{collectionZpid} and collection_state=#{collectionState} and collection_uid=#{collectionUid}
    </delete>

<!--查询收藏时否有-->
    <select id="queryCollection" parameterType="com.zking.zkingedu.common.model.Hoarding" resultType="integer">
             select count(*) from t_collection where collection_uid=#{collectionUid} and collection_zpid=#{collectionZpid} AND collection_state=#{collectionState}
    </select>

<!--    根据uid修改状态-->
    <update id="update">
              update t_post
                           set post_state=#{yx}
              where post_uid=#{uid} and post_id=#{pid}
    </update>

<!--根据用户id和pid找到状态-->
    <select id="queryCate" resultType="integer">
              select post_state
                              from
              t_post where post_uid=#{uid} and post_id=#{pid}
    </select>

    <!--根据用户id修改帖子状态-->
    <update id="updatePostzt" >
               update t_post
                            set post_state=#{zt}
               where post_uid=#{uid} and post_id=#{id}
    </update>


  <!--根据类别id和模糊查查找帖子-->
    <select id="getPandU" resultType="java.util.HashMap">
              select a.*,b.user_id,b.user_img,b.user_name,(select COUNT(tcomment_id) FROM t_tcomment where tcomment_cid=a.post_id) jishu
                            from t_post a,t_user b
                 where a.post_uid=b.user_id and post_state!=3 and post_state!=1
        <if test="cid!=null ">
            and a.post_category=#{cid}
        </if>
        <if test="nr!=null ">
            and a.post_name like '%${nr}%'
        </if>
        ORDER BY a.post_num DESC

    </select>


<!--    根据uid查找到我的收藏帖子-->
    <select id="getApstByUId" parameterType="integer" resultType="java.util.HashMap">
               select a.post_id,a.post_name,a.post_time,a.post_num,c.user_img from
                                         t_post a,t_collection b,t_user c
            where b.collection_uid=#{uid} and collection_state=2 AND a.post_id=b.collection_zpid AND b.collection_uid=c.user_id order by b.collection_time desc
    </select>


<!--    批量删除分类-->
    <delete id="deletePcts" parameterType="list">
               delete  from
                            t_pcata
                where pc_id in
        <foreach collection="list"  item="item"  open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!--添加分类-->
    <insert id="addPcts" parameterType="string">
             insert  into t_pcata(pc_name)
             values (#{pname})
    </insert>

<!--    根据uid修改 分类-->
    <update id="updatePcts">
                update t_pcata
                              set pc_name=#{pname}
                where pc_id=#{id}
    </update>

<!--    根据id删除分类，单个删除-->
    <delete id="deletePc" parameterType="integer">
              delete from t_pcata
              where pc_id=#{id}
    </delete>

<!--    找到所有后台帖子-->
<select id="gethtpost" resultType="hashmap">
          select a.post_id,c.user_name,a.post_name,a.post_time,a.post_num,a.post_state,b.pc_name from t_post a,t_pcata b,t_user c
                              where a.post_category=b.pc_id AND a.post_uid=c.user_id
    <if test="puname!=null ">
        and c.user_name like '%${puname}%'
    </if>
    <if test="pname!=null ">
        and a.post_name LIKE '%${pname}%'
    </if>
    <if test="pcname!=null ">
        and b.pc_name=#{pcname}
    </if>
    ORDER BY a.post_num DESC


</select>

<!--    根据帖子id修改状态-->
    <update id="updatepSta3" parameterType="integer">
               update t_post set post_state=3
               where post_id=#{id}
    </update>

    <update id="updatepSta0" parameterType="integer">
               update t_post set post_state=0
               where post_id=#{id}
    </update>


<!--    根据帖子id删除所有的帖子-->
    <delete id="deletepost" parameterType="integer">
               delete  from
                           t_post
               where post_id=#{id}
    </delete>


<!--    根据帖子id删除所有的评论-->
    <delete id="deleteTcomments" parameterType="integer">
              DELETE FROM t_tcomment where tcomment_cid=#{id}

    </delete>

<!--    根据用户id获取用户名-->
    <select id="queryUserByid" parameterType="integer" resultType="string">
             select user_name
                             from t_user
             where user_id=#{id}
    </select>


<!--    批量删除帖子表-->
    <delete id="deletePosts" parameterType="list">
                 delete  from
                             t_post
                 where post_id in
        <foreach collection="list"  item="item"  open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


<!--    根据帖子id删除所有的评论-->
    <delete id="deleteTcommetsBypid" parameterType="list">
                   delete  from
                                t_tcomment
                   where  tcomment_cid in
        <foreach collection="list"  item="item"  open="(" separator="," close=")">
            #{item}
        </foreach>

    </delete>



</mapper>