<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.zkingedu.common.dao.RoleDao">

    <!--使全局的映射器启用或禁用缓存  开启二级缓存-->
<!--    <cache type="com.zking.zkingedu.common.redis.MybatisRedisCache"></cache>-->
    <!--角色接口Mapper-->

    <select id="getRoles" resultType="role">
        select * from t_role where role_name like #{roleName}
    </select>

    <delete id="delRoleByID" parameterType="int">
        delete from t_role where role_id = #{roleID}
    </delete>
    <delete id="delMenuRoleByID" parameterType="int">
        delete from t_menu_role where role_id = #{RoleID}
    </delete>
    <update id="updateRoleByID">
        update t_role set role_name=#{param2} where role_id=#{param1}
    </update>
    <insert id="addMenuRoleByID" parameterType="int">
        insert into t_menu_role (role_id,menu_id) values
        <foreach collection="list" item="item" separator=",">
            (#{item.roleID},#{item.menuID})
        </foreach>
    </insert>
    <insert id="addRole" useGeneratedKeys="true" keyProperty="roleID" parameterType="role">
        insert into t_role (role_name) values (#{roleName})
    </insert>

</mapper>