<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.zkingedu.common.dao.ToolDao">

    <!--开发者工具接口Mapper-->

    <!--使全局的映射器启用或禁用缓存  开启二级缓存-->
    <cache type="com.zking.zkingedu.common.redis.MybatisRedisCache"></cache>

    <!--sql字段-->
   <sql id="toolsql">
       tool_id,tool_name,tool_describe,tool_url,tool_img,tool_time
   </sql>

    <!--查询所有的工具信息-->
    <select id="findAll" resultType="com.zking.zkingedu.common.model.Tool">
        select  <include refid="toolsql"/> from t_tool
    </select>



</mapper>