<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.zkingedu.common.dao.UserDao">

    <!--用户接口Mapper-->

    <!--<select id="getUserByname" resultMap="userRolePermission" >
      select * from t_user a, t_role b ,t_permission c ,t_user_role d ,t_role_permission e where a.uid=d.uid
and b.rid=d.rid and b.rid = e.rid and c.pid = e.pid and uname=#{uname}
    </select>-->
</mapper>