<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.zkingedu.common.dao.VideoDao">

    <!--使全局的映射器启用或禁用缓存  开启二级缓存-->
    <!--<cache type="com.zking.zkingedu.common.redis.MybatisRedisCache"></cache>-->
    <!--视频接口Mapper-->


    <sql id="VideoSql">
        video_id,video_sid,video_duration,video_url
    </sql>

    <!--根据章节id  查询视频-->
    <select id="getVideoById" resultType="com.zking.zkingedu.common.model.Video">
        select
        <include refid="VideoSql"/>
        from t_video where video_sid=#{sid};
    </select>


</mapper>