<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="text/javascript" src="/layui/layui.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all"/>

    <style type="text/css">
        .layui-table-cell{
            height:60px;
            line-height: 36px;
        }
    </style>
</head>
<body>
<div class="demoTable">
    搜索：
    <div class="layui-inline">
        <input class="layui-input" name="search" id="demoReload" autocomplete="off">
    </div>
    <button class="layui-btn" id="search" data-type="reload">搜索</button>
</div>
<table class="layui-hide" id="test" lay-filter="test"></table>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="isAll">添加课程</button>
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="manager">章节管理</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
</script>


<script type="text/html" id="checkboxTpl">
    <!-- 这里的 checked 的状态只是演示 -->
    <input type="checkbox" name="lock" value="{{d.course_id}}" title="展示课程" lay-filter="lockDemo" {{ d.course_state == false ? 'checked' : '' }}>
</script>


<script>
    layui.use(['table','form','jquery'], function(){
        var table = layui.table;
        var form = layui.form;
        var $ = layui.jquery;
        table.render({
            elem: '#test'
            ,url:'/user/getCourses'
            ,toolbar: '#toolbarDemo'
            ,title: '用户数据表'
            ,limit:5
            ,id:"tableReload"
            ,cols: [
                [
                {type: 'checkbox', fixed: 'left'}
                ,{field:'course_id', title:'ID', width:60, fixed: 'left', unresize: true, sort: true}
                ,{field:'course_name', title:'课程名称', width:150}
                ,{field:'t_name', title:'课程类别', width:100}
                ,{field:'course_desc', title:'课程介绍', width:210}
                ,{field:'emp_name', title:'讲师名称', width:100}
                ,{field:'course_img', title:'体系图片',width:130,templet:function (res) {
                        return '<img src="'+res.course_img+'"/>'
                    }}
                ,{field:'course_time', title:'课程添加时间', width:120}
                ,{field:'system_name', title:'课程阶段',width:150}
                ,{field:'course_state', title:'课程状态',width:130, templet: '#checkboxTpl',unresize: true}
                ,{field:'course_free', title:'免费章数', width:95,  sort: true}
                ,{field:'course_num', title:'课程播放量', width:110, sort: true}
                ,{field:'course_inte', title:'购买积分(套)', width:110}
                ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
                ]
            ]
            ,page: true
        });

        //搜索吧
        $("#search").on('click', function(){
            //执行重载
            table.reload('tableReload', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                ,where: {
                    courseName:$('#demoReload').val()
                }
            });
        });



        //监听状态操作
        form.on('checkbox(lockDemo)', function(obj){
            $.ajax({
                type: "post",
                url: "/user/editCourseState",
                async:true,
                data:{
                    state:obj.elem.checked,
                    id : this.value
                },
                dataType:"json",
                success:function(d){
                    if(d.code==0){
                        layer.msg(d.msg);
                    }
                    else{
                        layer.msg(d.msg);
                    }
                }
            });
            // console.log("value:"+this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);
        });

        //头工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'isAll':
                    layer.open({
                        type: 2,
                        title:"添加课程",
                        area: ['500px', '600px'],
                        content:"/user/addCoursePage", //这里content是一个普通的String
                    })
            };
        });

        //监听行工具事件
        table.on('tool(test)', function(obj){
            var data = obj.data;
            //console.log(obj)
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                layer.open({
                    type: 2,
                    title:"编辑课程",
                    area: ['500px', '600px'],
                    content:"/user/PreUpCourseloaddata?sid="+data.course_id //这里content是一个普通的String
                })
            } else if(obj.event === "manager"){
                layer.open({
                    type: 2,
                    title:"章节管理",
                    area: ['1500px', '700px'],
                    content:"/user/sectionManager?id="+data.course_id //这里content是一个普通的String
                })
            }
        });
    });
</script>

</body>
</html>