<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>体系修改页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="text/javascript" src="/layui/layui.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all"/>
</head>
<body>
<form class="layui-form" action="" lay-filter="example">
    <!--影藏标签体系id-->
    <input type="hidden" name="systemID" th:value="${system.systemID}"  value="" />
    <div class="layui-form-item">
        <label class="layui-form-label">体系名称</label>
        <div class="layui-input-block">
            <input type="text" name="systemName" th:value="${system.systemName}" lay-verify="title" autocomplete="off" placeholder="请输入体系名称" class="layui-input">
        </div>
    </div>

    <!--轮播图片  -->
    <div class="layui-form-item">
        <label class="layui-form-label">体系图片</label>
        <div class="layui-input-block">
            <button type="button" class="layui-btn" id="onePicUpload"><i class="layui-icon"></i>上传文件</button><br />
            <img class="layui-upload-img" id="preview" th:src="${system.systemImg}" style="width: 150px;margin-top: 5px">
            <p id="uploadError"></p>
            <input type="hidden" lay-verify="imgurl" th:value="${system.systemImg}" name="systemImg" id="newsImg" value=""/>
        </div>
    </div>



    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">体系描述</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" th:text="${system.systemDesc}" class="layui-textarea" name="systemDesc"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit=""  id="sub" lay-filter="demo1">立即提交</button>
        </div>
    </div>
</form>
</body>
<script>
    layui.use(['form', 'layedit','upload'], function(){
        var form = layui.form
            ,layer = parent.layer === undefined ? layui.layer : parent.layer
            ,layedit = layui.layedit
            ,upload = layui.upload
            ,$ = layui.jquery;


        //普通图片上传
        var uploadInst = upload.render({
            elem: '#onePicUpload'
            ,url: '/file/imgupload'
            ,before: function(obj){
                //预读本地文件
                obj.preview(function(index, file, result){
                    $('#preview').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg(res.msg);
                }
                //上传成功
                //设置src给图片隐藏域
                $("#newsImg").val(res.data.src);
                layer.msg('上传成功')
            }
            ,error: function(){
                //失败状态，并实现重传
                var uploadError = $('#uploadError');
                uploadError.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                uploadError.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });

        //监听提交
        form.on('submit(demo1)', function(data){
            //弹出loading
            var index = top.layer.msg('数据提交中，请稍候',{icon: 16,time:false,shade:0.8});
            var msg;
            $.ajax({
                type: "post",
                url: "/user/editSystem",
                data:data.field,
                dataType:"json",
                success:function(d){
                    if(d.code==0){
                        msg="添加成功！";
                    }else{
                        msg=d.msg;
                    }
                }
            });
            setTimeout(function(){
                top.layer.close(index);
                layer.msg(msg);
                layer.closeAll("iframe");
                //刷新父页面
                parent.location.reload();
            },2000);
            return false;
        });

    });
</script>
</html>