<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-L-admin1.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link href="layui/css/layui.css"/>
    <link rel="stylesheet" href="/admin/css/font.css">
    <link rel="stylesheet" href="/admin/css/xadmin.css">

    <script src="/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="/admin/js/xadmin.js"></script>
    <script src="/layui/layui.js"></script>
    <script src="/layui/lay/modules/laypage.js"></script>
  </head>

  <body>
  <br/>
  <div class="demoTable">
    <label>搜索名称 ：</label>
    <div class="layui-inline">
      <input class="layui-input" type="text" name="username" id="uname" lay-verify="username" autocomplete="off">
    </div>&nbsp;&nbsp;&nbsp;
    <button class="layui-btn" data-type="reload" lay-submit="" lay-filter="*">搜索</button>
    <button class="layui-btn" data-type="getCheckData">批量删除</button>
  </div>

  <!--usertable数据展示-->
  <table id="order" lay-filter="test"></table>

  <script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  </script>



  <script type="text/javascript">

    $(function () {
        layui.use(['layer','form', 'table','laydate', 'element'], function(){
            var table = layui.table;
            var layer = layui.layer //弹层
                , table = layui.table //表格
                ,laydate = layui.laydate
                , element = layui.element //元素操作
                , form = layui.form;



            //第一个实例
            table.render({
                elem: '#order'
                ,height: 480
                ,url: '/findOrder' //数据接口
                ,page: true //开启分页
                //,skin: 'line' //表格风格
                , totalRow: true //开启合计行
                ,cols: [
                       [ //表头
                    {checkbox: true, fixed: true}
                    ,{field: 'order_id', title: '订单ID', width:150, sort: true, fixed: 'left'}
                    ,{field: 'course_name', title: '课程名称', width:150}
                    ,{field: 'user_name', title: '用户名称', width:100}
                    ,{field: 'order_integral', title: '消费积分', width:150, sort: true}
                    ,{field: 'charge_time', title: '订单生成时间', width: 180}
                    ,{field: 'order_cid',title: '章节名称', width: 150,
                           templet:function(d){
                               if(0==d.order_cid){
                                   return "<span style='color: blue;'>全套</span>";
                               }else{
                                   return '<span style="color: #c00;" onclick="myf('+d.order_cid+')">查询详情</span>';
                               }
                           }}
                    , {//获取桌面的工具栏
                        fixed : 'right',
                        width : 100,
                        align : 'center',
                        toolbar : '#barDemo'
                    }
                ]
                ]
                ,id : 'id'//表格id
            });




        });
    });

    /**
     * 查询详情的点击事件
     * @param aa
     */
    function myf(order_cid) {
        var ordercid = order_cid;



    }



  </script>


  </body>

</html>