<!DOCTYPE html >
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>修改工具</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="/admin/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/admin/css/font.css">
    <link rel="stylesheet" href="/admin/css/xadmin.css">
    <link rel="stylesheet" href="/admin/lib/layui/css/layui.css">
    <script src="/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="/admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/admin/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<style type="text/css">
    .layui-table-cell {
        height: 80px;
        line-height: 36px;
    }
</style>

<body>
<div class="demoTable">
    <br/><br/>
    <label>搜索名称 ：</label>
    <div class="layui-inline">
        <input class="layui-input" type="text" name="toolName" id="toolName" lay-verify="toolName" autocomplete="off">
    </div>&nbsp;&nbsp;&nbsp;
    <button class="layui-btn" data-type="reload" lay-submit="" lay-filter="*">搜索</button>
    <button class="layui-btn" onclick="x_admin_show('添加用户','/addtool1',600,400)"><i class="layui-icon"></i>添加
    </button>
    <a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:38px">ဂ</i>
    </a>
</div>
<!--表格的位置-->
<table class="layui-table layui-table-cell" id="findtool" lay-filter="test"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
</script>


<script type="text/javascript" th:inline="none">

    $(function () {

        layui.use(['layer', 'form', 'table', 'laydate', 'element', 'upload'], function () {
            var table = layui.table;
            var upload = layui.upload;
            var layer = layui.layer //弹层
                , table = layui.table //表格
                , laydate = layui.laydate
                , element = layui.element //元素操作
                , form = layui.form;

            //加载日期
            laydate.render({
                elem: '#toolTime'
                , trigger: 'click'
            });

            //第一个实例
            table.render({
                elem: '#findtool'
                , height: 480
                , url: '/findTool' //数据接口
                , page: true //开启分页
                , totalRow: true //开启合计行
                , cols: [[
                    {checkbox: true, fixed: true}
                    , {field: 'toolID', title: 'ID', width: 80, sort: true, fixed: 'left'}
                    , {field: 'toolName', title: '工具标题', width: 150}
                    , {field: 'toolDescribe', title: '工具描述', width: 180, sort: true}
                    , {field: 'toolURL', title: '工具链接', width: 180}
                    , {
                        field: 'toolImg', title: '工具图片', width: 130,
                        templet: function (data) {
                            return "<img src='" + data.toolImg + "'/>";
                        }
                    }
                    , {field: 'toolTime', title: '工具添加时间', width: 180, sort: true}
                    , {//获取桌面的工具栏
                        fixed: 'right',
                        width: 100,
                        align: 'center',
                        toolbar: '#barDemo'
                    }
                ]]
                , id: 'id'//表格id
            });

            var $ = layui.$, layer = layui.layer, active = {
                getCheckData: function () { //获取选中数据
                    var checkStatus = table.checkStatus('id')
                        , data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                },
                // 模糊查询的页面重载
                reload: function () { //拿到页面每一个值
                    var toolName = $('#toolName').val();
                    //alert(toolName);
                    // 执行重载
                    table.reload('id', {
                        page: {
                            curr: 1// 重新从第 1 页开始
                        },
                        where: {//传的参数到后台
                            'toolName': toolName,
                        }
                    });
                }
            };
            // 查询按钮实现
            $('.demoTable .layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });


            //监听工具条
            table.on('tool(test)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                var tr = obj.tr; //获得当前行 tr 的DOM对象
                if (layEvent === 'edit') { //编辑
                    //根据工具id查询出工具图片的方法
                    $.post("/findImg", {toolID: data.toolID}, function (obj) {
                    });

                    //do something
                    $("#toolName1").val(data.toolName);
                    $("#toolDescribe").val(data.toolDescribe);
                    $("#toolUrl").val(data.toolURL);
                    $("#toolID").val(data.toolID);

                    layer.open({
                        //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                        type: 1,
                        title: "修改信息",
                        area: ['620px', '530px'],
                        content: $("#toolupdate"),//引用的弹出层的页面层的方式加载修改界面表单
                        maxmin: true
                    });


                }
            });

            //普通图片上传
            var uploadInst = upload.render({
                elem: '#onePicUpload'
                , url: 'http://image.zkingedu.top:8080/imgupload'
                , before: function (obj) {
                    //预读本地文件
                    obj.preview(function (index, file, result) {
                        $('#preview').attr('src', result); //图片链接（base64）
                    });
                }
                , done: function (res) {
                    //如果上传失败
                    if (res.code > 0) {
                        return layer.msg(res.msg);
                    }
                    //上传成功
                    //设置src给图片隐藏域
                    $("#toolImg").val(res.data.src);
                    layer.msg('上传成功')
                }
                , error: function () {
                    //失败状态，并实现重传
                    var uploadError = $('#uploadError');
                    uploadError.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                    uploadError.find('.demo-reload').on('click', function () {
                        uploadInst.upload();
                    });
                }
            });


            //监听提交
            form.on('submit(demo1)', function (data) {
                alert(data.field);
                //弹出loading
                var index = top.layer.msg('数据提交中，请稍候', {icon: 16, time: false, shade: 0.8});
                var msg;
                $.ajax({
                    type: "post",
                    url: "/User/updateTool",
                    data: data.field,
                    dataType: "json",
                    success: function (d) {
                        if (d.code == 0) {
                            msg = "修改成功！";
                        } else {
                            msg = d.msg;
                        }
                    }
                });
                setTimeout(function () {
                    top.layer.close(index);
                    layer.msg(msg);
                    layer.closeAll("iframe");
                    //刷新父页面
                    location.reload();
                }, 3000);
                return false;
            });

        });

    });


</script>
<!--修改工具页面-->
<form class="layui-form" action="" style="display: none" id="toolupdate">

    <br/><br/>
    <div align="center" style="font-size: 20px;">修改工具</div>
    <br/><br/>
    <input type="hidden" id="toolID" name="toolID" value=""/>
    <input type="hidden" id="uid"/>
    <div class="layui-form-item">
        <label class="layui-form-label">工具标题：</label>
        <div class="layui-input-block">
            <input type="text" id="toolName1" name="toolName" required lay-verify="required" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">工具描述：</label>
        <div class="layui-input-inline">
            <input type="text" id="toolDescribe" name="toolDescribe" required lay-verify="required" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">工具链接：</label>
        <div class="layui-input-block">
            <input type="text" id="toolUrl" name="toolURL" required lay-verify="required" autocomplete="off"
                   class="layui-input">
        </div>
    </div>

    <!--工具图片-->
    <div class="layui-form-item">
        <label class="layui-form-label">工具图片</label>
        <div class="layui-input-block">
            <button type="button" class="layui-btn" id="onePicUpload"><i class="layui-icon"></i>上传文件</button>
            <br/>
            <img class="layui-upload-img" id="preview" style="width: 150px;margin-top: 5px">
            <p id="uploadError"></p>
            <input type="hidden" lay-verify="imgurl" name="toolImg" id="toolImg" value=""/>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" id="sub" lay-filter="demo1">立即提交</button>
        </div>
    </div>
</form>


</body>

</html>