<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>添加角色</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/font.css">
      <link rel="stylesheet" href="../lib/layui/css/layui.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <script src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="x-body">
        <form action="" method="post" class="layui-form layui-form-pane">
            <div class="layui-row layui-col-space30">
                <!--左-->
                <div class="layui-col-xs4">
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">
                            <span class="x-red">*</span> 选择权限
                        </label>
                        <div class="layui-input-block">
                            <div style="border: 1px solid #EEEEEE; padding:5px 10px;">
                                <div id="LAY-auth-tree-index"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--右-->
                <div class="layui-col-xs8">
                    <div class="layui-form-item">
                        <label for="name" class="layui-form-label">
                            <span class="x-red">*</span> 角色名
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" placeholder="请输入角色名" id="name" name="name" required lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="desc" class="layui-form-label">
                            描述
                        </label>
                        <div class="layui-input-block">
                            <textarea placeholder="请输入内容" id="desc" name="desc" class="layui-textarea"></textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <button class="layui-btn" lay-submit="" lay-filter="add">增加</button>
                    </div>

                </div>
            </div>
                <script type="text/javascript">
                    layui.config({
                        base: '../extends/',
                    }).extend({
                        authtree: 'authtree',
                    });
                    layui.use(['jquery', 'authtree', 'form', 'layer'], function(){
                        var $ = layui.jquery;
                        var authtree = layui.authtree;
                        var form = layui.form;
                        var layer = layui.layer;
                        // 初始化
                        $.ajax({
                            url: '../tree.json',
                            dataType: 'json',
                            success: function(data){
                                // 渲染时传入渲染目标ID，树形结构数据（具体结构看样例，checked表示默认选中），以及input表单的名字
                                authtree.render('#LAY-auth-tree-index', data.data.trees, {
                                    inputname: 'authids[]'
                                    ,layfilter: 'lay-check-auth'
                                    // ,autoclose: false
                                    // ,autochecked: false
                                    // ,openchecked: true
                                    // ,openall: true
                                    ,autowidth: true
                                });

                                // PS:使用 form.on() 会引起了事件冒泡延迟的BUG，需要 setTimeout()，并且无法监听全选/全不选
                                // PS:如果开启双击展开配置，form.on()会记录两次点击事件，authtree.on()不会
                                form.on('checkbox(lay-check-auth)', function(data){
                                    // 注意这里：需要等待事件冒泡完成，不然获取叶子节点不准确。
                                    setTimeout(function(){
                                        console.log('监听 form 触发事件数据', data);
                                        // 获取选中的叶子节点
                                        var leaf = authtree.getLeaf('#LAY-auth-tree-index');
                                        console.log('leaf', leaf);
                                        // 获取最新选中
                                        var lastChecked = authtree.getLastChecked('#LAY-auth-tree-index');
                                        console.log('lastChecked', lastChecked);
                                        // 获取最新取消
                                        var lastNotChecked = authtree.getLastNotChecked('#LAY-auth-tree-index');
                                        console.log('lastNotChecked', lastNotChecked);
                                    }, 100);
                                });
                                // 使用 authtree.on() 不会有冒泡延迟
                                authtree.on('change(lay-check-auth)', function(data) {
                                    console.log('监听 authtree 触发事件数据', data);
                                    // 获取所有节点
                                    var all = authtree.getAll('#LAY-auth-tree-index');
                                    console.log('all', all);
                                    // 获取所有已选中节点
                                    var checked = authtree.getChecked('#LAY-auth-tree-index');
                                    console.log('checked', checked);
                                    // 获取所有未选中节点
                                    var notchecked = authtree.getNotChecked('#LAY-auth-tree-index');
                                    console.log('notchecked', notchecked);
                                    // 获取选中的叶子节点
                                    var leaf = authtree.getLeaf('#LAY-auth-tree-index');
                                    console.log('leaf', leaf);
                                    // 获取最新选中
                                    var lastChecked = authtree.getLastChecked('#LAY-auth-tree-index');
                                    console.log('lastChecked', lastChecked);
                                    // 获取最新取消
                                    var lastNotChecked = authtree.getLastNotChecked('#LAY-auth-tree-index');
                                    console.log('lastNotChecked', lastNotChecked);
                                });
                                authtree.on('deptChange(lay-check-auth)', function(data) {
                                    console.log('监听到显示层数改变',data);
                                });
                            },
                            error: function(xml, errstr, err) {
                                layer.alert(errstr+'，获取样例数据失败，请检查是否部署在本地服务器中！');
                            }
                        });

                    });
                </script>

            </form>
    </div>
    <script>
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer;

          //自定义验证规则
          form.verify({
            nikename: function(value){
              if(value.length < 5){
                return '昵称至少得5个字符啊';
              }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,repass: function(value){
                if($('#L_pass').val()!=$('#L_repass').val()){
                    return '两次密码不一致';
                }
            }
          });

          //监听提交
          form.on('submit(add)', function(data){
            console.log(data);
            //发异步，把数据提交给php
            layer.alert("增加成功", {icon: 6},function () {
                // 获得frame索引
                var index = parent.layer.getFrameIndex(window.name);
                //关闭当前frame
                parent.layer.close(index);
            });
            return false;
          });


        });
    </script>
  </body>

</html>