<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Lei Shi">
    <meta http-equiv="Cache-Control" content="o-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="csrf-token" content="1483780974##87f89328c5616669f00302a263fe9061bb852818">

    <link rel="icon" type="image/x-icon" href="/imgs/logo_title.png" />

    <title> Linux 基础入门（新版） - zking - 课堂</title>


    <meta content="zking - 课堂课程分为基础课和项目课，内容涵盖了Linux、Python、Java、C语言、Ruby、Android、IOS开发、大数据、信息安全等IT技术领域。" name="description">
    <meta content="zking - 课堂课程,IT培训课程,IT实训课程,IT在线课程,all" name="keywords">

    <meta content="zking - 课堂,琛石科技" name="author">

    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="/user/static/font-awesome//4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/user/static/highlight.js/9.8.0/monokai-sublime.min.css">
    <link rel="stylesheet" href="/user/app/css/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/user/app/css/libs/katex/0.6.0/katex.min.css">
    <link rel="stylesheet" href="/user/app/css/libs/videojs/5.11.7/video-js.min.css">
    <link rel="stylesheet" href="/user/app/css/dest/styles.css?=2016121272249">
    <link rel="stylesheet" href="/user/layui/css/layui.css">

    <style>
        @font-face {
            font-family: "lantingxihei";
            src: url("/user/fonts/FZLTCXHJW.TTF");
        }

        /* modal 模态框*/
        #invite-user .modal-body {
            overflow: hidden;
        }
        #invite-user .modal-body .form-label {
            margin-bottom: 16px;
            font-size:14px;
        }
        #invite-user .modal-body .form-invite {
            width: 80%;
            padding: 6px 12px;
            background-color: #eeeeee;
            border: 1px solid #cccccc;
            border-radius: 5px;
            float: left;
            margin-right: 10px;
        }
        #invite-user .modal-body .msg-modal-style {
            background-color: #7dd383;
            margin-top: 10px;
            padding: 6px 0;
            text-align: center;
            width: 100%;
        }
        #invite-user .modal-body .modal-flash {
            position: absolute;
            top: 53px;
            right: 74px;
            z-index: 999;
        }
        /* end modal */

        .en-footer {
            padding: 30px;
            text-align: center;
            font-size: 14px;
        }
    </style>
    <link rel="stylesheet" href="/user/restatic/js/libs/marked/katex/katex.min.css">
    <style>
        .bootcamp-infobox {
            margin: 50px 0 0;
        }

        .invite-friends-link {
            margin-top: 10px;
            padding-left: 8px;
        }

        .invite-friends-link input {
            margin-left: -5px;
        }

        .invite-friends-link button {
            float: left;
            margin-top: 5px;
            margin-left: -5px;
        }

        .invite-friends-link .copy-msg {
            float: left;
            margin-top: 10px;
            margin-left: 20px;
            color: #42b1ad;
        }

        p.join-vip-faq {
            margin-top: 20px;
            margin-bottom: -50px;
            font-size: 13px;
        }
        p.join-vip-faq img {
            height:13px;
            width:13px;
            margin-top:-2px;
        }
        a.vip-without-bean {
            font-size:18px;
            line-height:30px;
        }
    </style>



</head>

<body>






<div class="container layout layout-margin-top">

    <ol class="breadcrumb">
        <li><a href="/user/index">全部课程</a></li>
    </ol>

    <div class="row">
        <div class="col-md-9 layout-body">
            <div class="side-image side-image-mobile">
                <img src="https://dn-simplecloud.shiyanlou.com/ncn1.jpg?imageView2/0/h/300">
            </div>


            <!--如果视频id  等于空展示课程信息-->
            <div class="content course-infobox" th:if="${section==null}">
                <div class="clearfix course-infobox-header">
                    <h4 class="pull-left course-infobox-title">
                        <span th:text="${course.courseName}">Linux 基础入门（新版）</span>
                    </h4>
                    <div class="pull-right " style="font-size:16px;color:#999;cursor:pointer">

                        <!--===============================-->
                        <!--===============================-->
                        <!--===============================-->
                        <!--===============================-->
                        <!--收藏  爱心标签-->
                        <span class="course-infobox-followers" id="courseNum" th:text="${courseNum}">0</span>
                        <span>人关注</span>
                        <span th:if="${isCheck!=null}">
                            <i class="fa fa-star-o courseCheck" id="sac"
                               th:onclick="|javascript:myHoarding(this,'${course.courseID}')|"></i>
                        </span>
                        <span th:if="${isCheck==null}">
                            <i class="fa fa-star-o" id="sac"
                               th:onclick="|javascript:myHoarding(this,'${course.courseID}')|"></i>
                        </span>
                    </div>
                </div>
                <div class="clearfix course-infobox-body">
                    <div class="course-infobox-content">
                        <p th:text="${course.courseDesc}">要在zking - 课堂愉快地学习，先要熟练地使用 Linux，本实验介绍 Linux 基本操作，shell 环境下的常用命令。</p>
                    </div>
                    <div class="pull-right course-infobox-price">
                    </div>
                </div>
                <div class="clearfix course-infobox-footer">
                    <div class="pull-right course-infobox-learned"><span th:text="${course.courseNum}">0</span> 人学过
                    </div>
                </div>
            </div>


            <!--<div class="layui-row">
                <div class="layui-col-xs12 layui-col-md12">
                    &lt;!&ndash;如果视频id  不等于空展示课程信息&ndash;&gt;

                </div>
            </div>-->

            <div class="content course-infobox" th:if="${section!=null}">
                <div class="layui-row">
                    <div class="layui-col-xs12 layui-col-md12">
                        <!--如果视频id  不等于空展示课程信息-->
                        <div class="clearfix course-infobox-body">
                            <!--影藏标签 存放视频的id-->
                            <form>
                                <input type="hidden" id="videoId" th:value="${section.videoId}" value=""/>
                            </form>
                            <!--视频播放器-->
                            <div id="youkuplayer" style="width:auto;height:400px"></div>
                            <script type="text/javascript" src="//player.youku.com/jsapi"></script>
                            <script type="text/javascript">
                                var player = new YKU.Player('youkuplayer', {
                                    styleid: '0',
                                    client_id: '59c9a21060e1d847',
                                    vid: document.getElementById("videoId").value,
                                    newPlayer: true,
                                    autoplay: true
                                });
                            </script>
                        </div>
                    </div>
                </div>

                <div class="clearfix course-infobox-footer">
                    <div class="pull-right course-infobox-learned"><span th:text="${course.courseNum}">85243</span> 人学过
                    </div>
                </div>
            </div>


            <div class="content" style="margin-bottom: 100px;">
                <ul class="nav nav-tabs" role="tablist">

                    <li role="presentation" class="active">
                        <a href="#labs" aria-controls="labs" role="tab" data-toggle="tab">实验列表</a>
                    </li>

                    <li role="presentation">
                        <a href="#comments" class="stat-event" aria-controls="comments" role="tab"
                           data-stat="course_comment" data-toggle="tab">课程评论(<span
                                th:text="${scommentNum}">0</span>)</a>
                    </li>
                    <button style="margin-left: 680px;" id="qtsp" type="button" class="btn btn-info">购买全套视频</button>

                    <!--从后台获取的课程id-->
                    <input type="hidden" id="courseID" th:value="${course.courseID}"/>
                </ul>


                <div class="tab-content">

                    <div role="tabpanel" class="tab-pane active" id="labs">
                        <!--===============================================
                        ===============================================
                        ===============================================
                        ===============================================-->
                        <div class="lab-item" th:each="se,status:${sections}">
                            <div class="lab-item-status">
                                <img src="/user/img/lab-not-ok.png">
                            </div>
                            <div class="lab-item-index" th:text="${'第'+status.count+'节'}">第1节</div>
                            <div class="lab-item-title" data-toggle="tooltip" data-placement="bottom"
                                 th:title="${se.sectionName}" th:text="${se.sectionName}" title="Linux 系统简介">Linux 系统简介
                            </div>
                            <span th:if="${se.sectionInte==0}">
                                    <em style="color: revert">免费</em>
                            </span>
                            <span th:if="${se.sectionInte>0}">
                                    <em style="color: red">积分</em>
                            </span>
                            <!--积分的隐藏域-->
                            <input type="hidden" id="sectionInte" th:value="${se.sectionInte}"/>
                            <div class="pull-right lab-item-ctrl">
                                <!-- <a class="btn btn-primary" th:href="@{'/user/video?sid='+${course.courseID}+'&id='+${se.sectionID}}" data-toggle="modal" data-sign="signin" data-next="/courses/1">开始学习</a>-->
                                <!--课程id  隐藏-->

                                <a class="btn btn-primary"
                                   th:onclick="|javascript:ksxx('${course.courseID}','${se.sectionID}','${se.sectionInte}')|"
                                   data-toggle="modal" data-sign="signin" data-next="/courses/1">开始学习</a>
                                <!--th:href="@{'/user/video?sid='+${course.courseID}+'&id='+${se.sectionID}}"-->
                            </div>
                        </div>

                    </div>
                    <div role="tabpanel" class="tab-pane course-comment" id="comments">
                        <div class="comment-box">
                            <div class="comment-form">

                                <div class="comment-form-unlogin" th:if="${user==null}">
                                    请
                                    <a href="#sign-modal" data-toggle="modal" data-sign="signin" data-next="/courses/1"> 登录 </a>
                                    后发表评论
                                </div>
                                <div th:if="${user!=null}">
                                    <!--如果用户以登陆  隐藏用户id-->
                                    <input type="hidden" th:value="${user.userID}" id="userId"/>

                                    <button type="button" id="fabb" class="layui-btn layui-btn-normal">发布评论</button>
                                </div>

                            </div>
                            <div class="comment-title">最新评论</div>
                            <div class="comment-list">

                                <ul class="flow-default" style="height: 300px;" id="LAY_demo2"></ul>
                                <!--<div class="answer-item">
                                    <div class="answer-head">
                                        <div class="user-avatar ">
                                            <a class="avatar" href="/user/162034" target="_blank">
                                                <img src="https://dn-simplecloud.shiyanlou.com/gravatarNTY0MzE5MTc0NzA5.png?v=1464936302985&amp;imageView2/1/w/200/h/200">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="answer-detail">
                                        <span class="comment-reply">
                                            <div class="user-username ">
                                                <a class="username" href="/user/162034" style="margin-left: 20px;" target="_blank">
                                                        齐川同学促销装
                                                </a>
                                                <span class="u ser-level">L28</span>
                                            </div>
                                         </span>
                                        <div class="answer-content markdown-body">
                                            <a  href="javascript:void(0);" style="color: #000000">同学你好！你可以先通过QQ等工具截图后保存为文件，然后在提问的对话框中点击`图片`按钮上传即可。</a>
                                        </div>
                                        <div>
                                            <span class="create-time">时间：<span>2009-09-09</span></span>
                                            <hr/>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                            <div class="pagination-container"></div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-md-3 layout-side">

            <div class="side-image side-image-pc">
                <img th:src="${course.courseImg}" src="/user/img/ncn1.jpg?imageView2/0/h/300"/>
            </div>


            <!--<div class="sidebox mooc-teacher">
                <div class="sidebox-header mooc-header">
                    <h4 class="sidebox-title">课程教师</h4>
                </div>
                <div class="sidebox-body mooc-content">
                    <a href="/user/20406" target="_blank">
                        <img src="/user/img/Linux&c.png">
                    </a>
                    <div class="mooc-info">
                        <div class="name"><strong>Edward</strong> </div>

                        <div class="courses">共发布过<strong>18</strong>门课程</div>
                    </div>
                    <div class="mooc-extra-info">
                        <div class="word long-paragraph">
                            资深程序员，5年Linux运维、企业级开发经验及数据库实战和教学经验。
                        </div>
                    </div>
                </div>
                <div class="sidebox-footer mooc-footer">
                    <a href="/teacher/20406" target="_blank">查看老师的所有课程 ></a>
                </div>
            </div>-->


            <div class="side-image">
                <a href="/vip" target="_blank">
                    <img src="/user/img/banner-vip.png">
                </a>
            </div>


            <div class="sidebox adv-course">
                <div class="sidebox-header">
                    <h4 class="sidebox-title">最热课程</h4>
                </div>
                <div class="sideobx-body course-content" th:each="cou:${coursefours}">

                    <a href="/courses/204" th:href="@{/user/showCourse/{id}(id=${cou.courseID})}"
                       th:text="${cou.courseName}"></a>
                </div>
            </div>


        </div>
    </div>
</div>




<div class="modal fade" id="flash-message" tabindex="-1" role="dialog">
    <div class="modal-dialog" rolw="document">
    </div>
</div>
<div class="modal fade" id="modal-message" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title">注意</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary confirm" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade askquestion-modal" id="askquestion" tabindex="-1" role="dialog">
    <div class="modal-dialog" role=document>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">发帖</h4>
            </div>
            <div class="modal-body words-ctrl">
                <form class="form-horizontal" action="/questions/">
                    <input name="_csrf_token" type=hidden value="1483794941##be4fb68b276c5f7cb970936cb25985cd53b943d1">
                    <div class="form-group">
                        <label class="col-md-2 control-label">标题</label>
                        <div class="col-md-10">
                            <input type="text" name="title" min="5" max="100" class="form-control" placeholder="至少输入5个字"
                                   value="">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">描述</label>
                        <div class="col-md-10">


                            <div class="tabpanel mkeditor">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#mkeditor-editor" role="tab" data-toggle="tab">编辑</a>
                                    </li>
                                    <li role="presentation">
                                        <a class="mkeditor-btn-view" href="#mkeditor-viewer" role="tab"
                                           data-toggle="tab">预览</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active mkeditor-editor" id="mkeditor-editor" role="tabpanel">

                                        <div class="btn-group" role="group">

                                            <button type="button" class="btn btn-default mkeditor-btn-bold">
                                                <i class="fa fa-bold"></i>
                                            </button>
                                            <button type="button" class="btn btn-default mkeditor-btn-italic">
                                                <i class="fa fa-italic"></i>
                                            </button>
                                            <button type="button" class="btn btn-default mkeditor-btn-link">
                                                <i class="fa fa-link"></i>
                                            </button>
                                            <button type="button" class="btn btn-default mkeditor-btn-quote">
                                                <i class="fa fa-quote-left"></i>
                                            </button>
                                            <button type="button" class="btn btn-default mkeditor-btn-code">
                                                <i class="fa fa-code"></i>
                                            </button>
                                            <button id="mkeditor-pickfile" type="button"
                                                    class="btn btn-default mkeditor-btn-img">
                                                <i class="fa fa-image"></i>
                                            </button>

                                            <button type="button" class="btn btn-default mkeditor-btn-listol">
                                                <i class="fa fa-list-ol"></i>
                                            </button>
                                            <button type="button" class="btn btn-default mkeditor-btn-listul">
                                                <i class="fa fa-list-ul"></i>
                                            </button>
                                        </div>
                                        <div class="btn-group pull-right" role="group">
                                            <a style="font-size:12px; color:#666; text-decoration:underline;"
                                               href="/questions/764" target="_blank">
                                                <i class="fa fa-question-circle"></i>Markdown 语法
                                            </a>
                                        </div>
                                        <textarea name="content" class="content"
                                                  min="0" max="20000"
                                                  placeholder="推荐使用 Markdown 语法，至少输入 5 个字"></textarea>
                                        <div class="help-block"></div>
                                    </div>
                                    <div class="tab-pane mkeditor-viewer markdown-body" id="mkeditor-viewer"
                                         role="tabpanel">
                                        <div></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">板块</label>
                        <div class="col-md-10">
                            <div class="q-types" data-type="">
                            </div>
                        </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <a type="button" class="submit-question btn btn-primary" href="/vip" target="_blank"
                   style="background:#FFFFFF;color:#00CC99;border:none;float:left;padding-left:0;"><img
                        src="/user/img/senior-vip-icon.png" alt=""> 加入高级会员获得助教答疑</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="submit-question btn btn-primary" data-dismiss="modal">提交</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="start-newlab">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>开始新实验</h3>
            </div>
            <div class="modal-body" style="text-align:center">
                <p> 一个实验正在进行，是否停止它，开始新实验？</p>

            </div>
            <div class="modal-footer" style="margin-top:0px">

                <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                <a class="btn btn-primary start-newlab-confirm">确定</a>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<div class="modal fade" id="start-evaluation-course">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>开始评估课实验</h3>
            </div>
            <div class="modal-body">
                <div>
                    <p>为了让评估结果更加准确，请注意以下操作：</p>
                    <ul>
                        <li>完成实验后点击「停止实验」按钮</li>
                        <li>将代码提交到代码库</li>
                        <li>尽可能详尽的撰写实验报告</li>
                        <li>尽可能在实验操作的关键步骤截图</li>
                        <li>尽可能减少无用操作</li>
                        <li>尽可能高效的利用内存/CPU资源</li>
                    </ul>
                    <p>评估课还在不断完善中，我们真挚希望你能通过我们提供的这个平台，找到更好的发展机会。</p>
                </div>
                <br>
                <div class="start-newlab"></div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                <a class="btn btn-primary start-confirm">确定</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<div class="modal fade" id="vip-startlab-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>开始实验</h3>
            </div>
            <div class="modal-body">
                <div class="start-newlab"></div>
                <br>
                <div class="text-center vip-vm">
                    <a class="btn btn-default btn-lg newvm">创建新环境</a>

                </div>
                <br>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<div class="modal fade" id="bean-course-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title">激活项目课：Linux 基础入门（新版）</h4>
            </div>
            <div class="modal-body">
                <div style="font-size:14px; font-weight:thin;">
                    要在zking - 课堂愉快地学习，先要熟练地使用 Linux，本实验介绍 Linux 基本操作，shell 环境下的常用命令。
                </div>
                <div style="margin:36px 0 18px; font-size:16px; font-weight:bold;">
                    您有 <span style="color:#f66;"><strong></strong></span> 个实验豆，激活本课程需要消耗 <span
                        style="color:#f66;"><strong>0</strong></span> 个实验豆！
                </div>
                <div style="color:#84B61A; font-size:14px; font-weight:bold;">激活后可不限次数学习本课。<a href="/faq#shiyandou"
                                                                                              style="font-weight:normal;"
                                                                                              target="_blank">如何获得实验豆？</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>

                <a class="btn btn-primary getshiyandou" href="/faq#shiyandou" target="_blank"
                   data-dismiss="modal">获取实验豆</a>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="paid-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="text-align:center;">支付确认</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-primary paid-confirm" type="button">支付成功</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-primary paid-method" type="button" style="background:none; color:#0c9">
                            选择支付方式
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<div id="base-data"


     data-flash="false"


     data-is-login=false

     data-is-jwt=true
     data-socket-url="wss://comet.shiyanlou.com"
     data-msg-user=""
     data-msg-system=""
></div>

<script src="/user/app/dest/lib/lib.js?=2016121272249"></script>
<script src="/user/static/jquery/2.2.4/jquery.min.js"></script>
<script src="/user/static/ace/1.2.5/ace.js"></script>
<script src="/user/static/aliyun/aliyun-oss-sdk-4.3.0.min.js"></script>
<script src="/user/static/highlight.js/9.8.0/highlight.min.js"></script>
<script src="/user/static/jspdf/1.2.61/jspdf.min.js"></script>
<script src="/user/static/plupload/2.1.9/js/plupload.full.min.js"></script>
<script src="/user/static/zeroclipboard/2.2.0/ZeroClipboard.min.js"></script>
<script src="/user/static/videojs/video.min.js"></script>
<script src="/user/static/bootstrap-tour/0.11.0/js/bootstrap-tour.min.js"></script>
<script src="/user/static/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
<script src="/user/static/bootstrap-table/1.11.0/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/user/static/bootstrap-table/1.11.0/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

<script src="/user/static/ravenjs/3.7.0/raven.min.js"></script>
<script>
    Raven.config('https://bc3878b7ed0a4468a65390bd79e6e73f@sentry.shiyanlou.com/5', {
        release: '3.12.13'
    }).install();
</script>


<div id="jinja-data"
     data-userlab-id=""
     data-course-id="1"
     data-is-authenticated="false"
     data-user-joined="false"
     data-user-logined="false"
     data-show-student-info-modal="false"
     data-login-url="/login?next=%2Fcourses%2F1"
     data-start-newlab-url="/courses/clear"

     data-faq="/faq"
     data-comment-post="/courses/1/comments"
     data-loginurl="/login?next=%2Fcourses%2F1"
     data-site-type="0"
     data-report-post="/courses/1/reports"
     data-recomment-img="/user/img/recommentReport.png"
     data-charge-course-phone-code="/user/sms/code"
     data-join-private-course="/courses/join"
     data-current-user-id=""
     data-vip-icon="/user/img/vip-icon.png"
     data-vip-index="/vip"
     data-get-question-url="/courses/1/questions"
     data-real-price=""

     data-query-bill="/purchase/bill/query"
     data-question-form="/questions/meta"
     data-qiniu-token-url="/api/qiniu/token"
></div>
<script src="/user/app/dest/course/labs.js?=2016121272249"></script>


<!--包含底部-->
<div th:replace="user/footer::footer"></div>

<script src="/user/layui/layui.js"></script>

<!--courseController的值-->
<!--<input type="hidden" id="course" th:value="${courseId}"/>
<input type="hidden" id="user" th:value="${userId}"/>-->

<!--orderController的值-->
<!--<input type="hidden" id="course1" th:value="${courseid}"/>
<input type="hidden" id="user1" th:value="${userid}"/>-->

<!--用户的所有积分-->
<input type="hidden" id="userintegrsl" th:value="${session.userintegrsl}"/>
<!--课程是需要的积分-->
<input type="hidden" id="courseIntegrsl" th:value="${session.courseIntegrsl}"/>

<input type="hidden" id="bug" th:value="${bug}"/>


<script type="text/javascript">

    var layer;
    var flow;

    //删除课程评论
    function delScomment(id) {
        layer.confirm('确认删除评论吗？', function (index) {
            $.ajax({
                type: "post",
                url: "/scomment/delScommentById",
                data: {
                    id: id
                },
                success: function (req) {
                    if (req.code == 0) {
                        layer.msg(req.msg);
                        window.location.href = window.location.href;
                        window.location.reload;
                    }
                    else {
                        layer.msg(req.msg);
                    }
                }
            });
            layer.close(index);
        });
    }



    $(function () {
        //alert("用户:"+$("#userintegrsl").val());
        //alert("课程:"+$("#courseIntegrsl").val());
        var s1 = $("#userintegrsl").val();
        var s2 = $("#courseIntegrsl").val();


        //从CourseController中传值过来的
        var user = $("#user").val();
        var course = $("#course").val()
        //从订单表中获取的值
        var user1 = $("#user1").val();
        var course1 = $("#course1").val();

        //订单表存在的话，就把购买整套视频隐藏
        /*if(user==user1 && course==course1){
            $("#qtsp").hide();
        }*/

        //如果整套视频不要积分，就不会显示购买按钮
        var sectionInte = $("#sectionInte").val();
        //alert(sectionInte);
        if(sectionInte==0||sectionInte==undefined){
            $("#qtsp").hide();
        }






            //layer.alert('您还剩余:'+ s1 +'积分，此课程需要'+ s2 +'积分购买。',{skin: 'layui-layer-lan',closeBtn: 0,anim: 1});
        layui.use(['flow','layer'], function(){
            flow = layui.flow;
            var $ = layui.jquery; //不用额外加载jQuery，flow模块本身是有依赖jQuery的，直接用即可。
            layer = layui.layer;
            // layer.alert('您还剩余:'+ s1 +'积分，此课程需要'+ s2 +'积分购买。',{skin: 'layui-layer-lan',closeBtn: 0,anim: 1});

            flow.load({
                elem: '#LAY_demo2' //流加载容器
                // ,scrollElem: '#LAY_demo2' //滚动条所在元素，一般不用填，此处只是演示需要。
                , isAuto: true
                , isLazyimg: false
                , done: function (page, next) { //加载下一页
                    //模拟插入
                    var cid = $("#courseID").val();//课程id
                    var lis = [];
                    $.post("/scomment/getScomment", {'page': page, "limit": 5, "cid": cid}, function (data) {
                        var json = data.data;
                        //模拟插入
                        setTimeout(function () {
                            var lis = [];
                            var uid = $("#userId").val();//用户id
                            for (var i = 0; i < json.length; i++) {
                                if (json[i].user.userID == uid) {//如果是自己的评论可以删除
                                    str = "<div class=\"answer-item\">\n" +
                                        "                                    <div class=\"answer-head\">\n" +
                                        "                                        <div class=\"user-avatar \">\n" +
                                        "                                            <a class=\"avatar\" href=\"javascript:void(0);\" target=\"_blank\">\n" +
                                        "                                                <img src=\"" + json[i].user.userImg + "\">\n" +
                                        "                                            </a>\n" +
                                        "                                        </div>\n" +
                                        "                                    </div>\n" +
                                        "                                    <div class=\"answer-detail\">\n" +
                                        "                                        <span class=\"comment-reply\">\n" +
                                        "                                            <div class=\"user-username \">\n" +
                                        "                                                <a class=\"username\" href=\"javascript:void(0);\" style=\"margin-left: 20px;\" target=\"_blank\">\n" +
                                        "                                                        " + json[i].user.userName + "\n" +
                                        "                                                </a>\n" +
                                        "                                                <span class=\"user-level\">V</span>\n" +
                                        "                                            </div>\n" +
                                        "                                         </span>\n" +
                                        "                                        <div class=\"answer-content markdown-body\">\n" +
                                        "                                            <a  href=\"javascript:void(0);\" style=\"color: #000000\">&nbsp;&nbsp;&nbsp;" + json[i].scommentContent + "</a>\n" +
                                        "                                        </div>\n" +
                                        "                                        <div>\n" +
                                        "                                            <span class=\"create-time\">时间：<span>" + json[i].scommentTime + "</span></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href='javascript:void(0)' onclick='delScomment(" + json[i].scommentID + ")'>删除评论</a>" +
                                        "                                            <hr/>\n" +
                                        "                                        </div>\n" +
                                        "                                    </div>\n" +
                                        "                                </div>";
                                }
                                else {
                                    str = "<div class=\"answer-item\">\n" +
                                        "                                    <div class=\"answer-head\">\n" +
                                        "                                        <div class=\"user-avatar \">\n" +
                                        "                                            <a class=\"avatar\" href=\"javascript:void(0);\" target=\"_blank\">\n" +
                                        "                                                <img src=\"" + json[i].user.userImg + "\">\n" +
                                        "                                            </a>\n" +
                                        "                                        </div>\n" +
                                        "                                    </div>\n" +
                                        "                                    <div class=\"answer-detail\">\n" +
                                        "                                        <span class=\"comment-reply\">\n" +
                                        "                                            <div class=\"user-username \">\n" +
                                        "                                                <a class=\"username\" href=\"javascript:void(0);\" style=\"margin-left: 20px;\" target=\"_blank\">\n" +
                                        "                                                        " + json[i].user.userName + "\n" +
                                        "                                                </a>\n" +
                                        "                                                <span class=\"user-level\">V</span>\n" +
                                        "                                            </div>\n" +
                                        "                                         </span>\n" +
                                        "                                        <div class=\"answer-content markdown-body\">\n" +
                                        "                                            <a  href=\"javascript:void(0);\" style=\"color: #000000\">&nbsp;&nbsp;&nbsp;" + json[i].scommentContent + "</a>\n" +
                                        "                                        </div>\n" +
                                        "                                        <div>\n" +
                                        "                                            <span class=\"create-time\">时间：<span>" + json[i].scommentTime + "</span></span>\n" +
                                        "                                            <hr/>\n" +
                                        "                                        </div>\n" +
                                        "                                    </div>\n" +
                                        "                                </div>";
                                }
                                lis.push(str);
                            }
                            next(lis.join(''), page < data.pages); //假设总页数为 6
                        }, 200);
                    })
                }
            });


            //发布评论
            $("#fabb").on("click", function () {
                var uid = $("#userId").val();
                layer.prompt({
                    formType: 2
                }, function (value, index1) {
                    if(uid==null||uid==0){
                        layer.msg("请登录后发表评论");
                        layer.close(index1);
                        return;
                    }
                    // layer.msg("value:" + value + "userId:" + $("#userId").val() + "__courseId:" + $("#courseID").val());
                    $.ajax({
                        type: "post",
                        url: "/scomment/addScomment",
                        data: {
                            scommentCid: $("#courseID").val(),
                            scommentUid: $("#userId").val(),
                            scommentContent: value
                        },
                        success: function (req) {
                            if (req.code == 0) {
                                layer.msg(req.msg);
                                window.location.href = window.location.href;
                                window.location.reload;
                            }
                            else {
                                layer.msg(req.msg);
                            }
                        }
                    });
                    layer.close(index1);
                });
            })

        });


        /*var bg = $("#bug").val();
        alert(bg);*/

        /**
         * 购买全套视频的点击事件
         */
        $("#qtsp").click(function () {
            //alert("开始购买视频。。。。。");
            //courseID sectionID
            //课程id
            var courseid = $("#courseID").val();
            //alert(courseid);
            layer.confirm('亲，您确定要购买本套视频吗？', function () {
                layer.alert('本套视频共需要' + s2 + '积分购买！');
                //开始购买视频
                $.ajax({
                    type: "post",
                    url: "/purchase",
                    data: {
                        courseID: courseid,
                        integral: s2
                    },
                    success: function (data) {
                        if (parseInt(data) == 3) {
                            layer.msg("您还没有登录，快去登录吧！", {icon: 5});
                        } else {
                            if (parseInt(data) == 1) {
                                //积分不够的话，需要充值，才能购买视频
                                //layer.msg("你需要去充值积分，去购买视频吧！",{icon: 1} );
                                setTimeout(function () {
                                    layer.msg("您的积分余额不足，请前去个人中心充值积分，再进行购买此课程吧！", {icon: 5})
                                }, 2000);
                            } else {
                                //alert(parseInt(data));
                                if(parseInt(data) == 4){
                                    layer.msg("此课程已经购买过了，无需重新购买！", {icon: 5});
                                    $("#qtsp").hide();
                                }else{
                                    //积分足够的话，就可以购买视频了
                                    // 停顿一秒后,进行刷新详情页面.
                                    layer.msg("恭喜你，此课程购买成功！", {icon: 1});
                                }
                            }
                        }
                    }
                });
                layer.close(index);
            });

        });
    });

    /**
     * 开始学习的方法
     */
    function ksxx(a, b, c) {
        var course = a;//课程id
        var section = b;//章节id
        var jf = c;//单个章节积分
        var s1 = $("#userintegrsl").val();//用户积分

        $.ajax({
            type: "post",
            url: "/gmdangeship",
            data: {
                sid: course,//课程id
                id: section,//章节id
                courseInte: jf//单章视频积分
            },
            success: function (data) {

                if (parseInt(jf) == 0) {
                    window.location.href = "/user/showVideo/" + course + "/" + section;
                } else {
                    if (parseInt(data) == 4) {
                        layer.msg("您还没有登录，快去登录吧！", {icon: 5});
                    } else {
                        if (data == 1) {
                            window.location.href = "/user/showVideo/" + course + "/" + section;
                        } else if (data == 2) {
                            layer.msg("您的积分不足，快去充值吧。");
                        } else if (data = 3) {
                            layer.confirm('亲，您确定要购买本章视频吗？', function () {
                                $.ajax({
                                    type: "post",
                                    url: "/gmsp",
                                    data: {
                                        sid: course,//课程id
                                        id: section,//章节id
                                        courseInte: jf//单章视频积分
                                    },
                                    success: function (data) {
                                        if (data == 4) {
                                            layer.msg("购买成功！");
                                            window.location.href = "/user/showVideo/" + course + "/" + section;
                                        }
                                    }
                                });
                                layer.close();
                            });
                        }
                    }
                }
            }
        });
    }


    //用户点击收藏
    function myHoarding(obj, cid) {
        $.ajax({
            type: "post",
            url: "/hoarding/addHoardingAndCourse",
            sync:false,
            data: {
                cid: cid,//课程id
            },
            success: function (data) {//收藏成功
                if (data.code == 1) {
                    layer.msg(data.msg);
                    myCourseNum(1);//刷新收藏数量
                    $(obj).addClass("courseCheck");//添加选中样式
                }
                else if (data.code == 2) {//取消收藏成功
                    layer.msg(data.msg);
                    myCourseNum(2);//刷新收藏数量
                    $(obj).removeClass("courseCheck");
                }else{//收藏异常
                    layer.msg(data.msg);
                }
            }
        });
    }


    /**
     * 控制课程数量f关注的人数
     * yan
     * type=1 +1
     * type=2 -1
     */
    function myCourseNum(type) {
        var html = parseInt($("#courseNum").html());
        if (type == 1) {
            html += 1;
            $("#courseNum").html(html);
        }
        if (type == 2) {
            html -= 1;
            $("#courseNum").html(html);
        }
    }


    /*//点击收藏课程
    $("#sac").click(function () {
        layer.msg("嘻嘻");
    })*/

    //window.location.href = "/user/video?sid="+course+"&id="+section;
</script>

<!--嵌套头部header-->
<div th:replace="user/header::header"></div>
<link rel="stylesheet" href="/user/layui/css/layui.css">
<script src="/userjs/zc.js"></script>
<script src="/userjs/login.js"></script>


<style>

    /*选中*/
    .courseCheck {
        color: red;
    }

    /*未选中*/
    .courseNoCheck {

    }
</style>


</body>
</html>
