<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:http="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment="footer">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 clearfix footer-col">
                    <img src="/user/img/logo.png" style="width: 160px;height: 50px;">
                    <div class="footer-slogan">动手做实验，轻松学编程</div>
                    <div class="col-xs-2">
                        <div class="social-item footer-weixin-item">
                            <i class="fa fa-weixin"></i>
                            <div class="footer-weixin">
                                <img src="/user/img/footer-weixin.png">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="social-item footer-qq-item">
                            <i class="fa fa-qq"></i>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="social-item footer-weibo-item">
                            <a href="http://weibo.com/shiyanlou2013" target="_blank">
                                <i class="fa fa-weibo"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2 footer-col">
                    <div class="col-title">公司</div>
                    <a href="http://www.veryedu.cn/" target="_blank">关于我们</a><br>
                    <a href="http://www.veryedu.cn/" target="_blank">联系我们</a><br>
                    <a href="http://www.veryedu.cn/" target="_blank">加入我们</a><br>
                    <a href="/pst/qindex" target="_blank">技术博客</a><br>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2 footer-col">
                    <div class="col-title">合作</div>
                    <a href="http://www.veryedu.cn/" target="_blank">我要投稿</a><br>
                    <a href="http://www.veryedu.cn/" target="_blank">教师合作</a><br>
                    <a href="http://www.veryedu.cn/" target="_blank">高校合作</a><br>
                    <a href="http://www.veryedu.cn/" target="_blank">友情链接</a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2 footer-col">
                    <div class="col-title">服务</div>
                    <a href="http://www.veryedu.cn/" target="_blank">实战训练营</a><br>
                    <a href="http://www.veryedu.cn/" target="_blank">会员服务</a><br>
                    <a href="http://www.veryedu.cn/" target="_blank">实验报告</a><br>
                    <a href="http://www.veryedu.cn/" target="_blank">常见问题</a><br>
                    <a href="http://www.veryedu.cn/" target="_blank">隐私条款</a>
                </div>
            </div>
        </div>
        <div class="text-center copyright">
            <span>Copyright @2013-2016 zking - 课堂在线教育</span>
            <span class="ver-line"> | </span>
            <a href="http://www.miibeian.gov.cn/" target="_blank">蜀ICP备13019762号</a>
            <script type="text/javascript">
                var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                document.write(unescape("%3Cspan id='cnzz_stat_icon_5902315'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/stat.php%3Fid%3D5902315' type='text/javascript'%3E%3C/script%3E"));
            </script>
            <script>
                var _hmt = _hmt || [];
                (function () {
                    var hm = document.createElement("script");
                    hm.src = "//hm.baidu.com/hm.js?6eb47a3aeda6ea31fa53985fdfdc78e8";
                    var s = document.getElementsByTagName("script")[0];
                    s.parentNode.insertBefore(hm, s);
                })();
            </script>
            <script>
                (function (i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r;
                    i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
                    a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                    a.async = 1;
                    a.src = g;
                    m.parentNode.insertBefore(a, m)
                })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
                ga('create', 'UA-89338452-1', 'auto');
                ga('send', 'pageview');
            </script>


        </div>
    </div>
</footer>

</body>
</html>