<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/user/static/jquery/2.2.4/jquery.min.js"></script>

</head>
<body>
<footer th:fragment="header">
    <nav  class="navbar navbar-default navbar-fixed-top header">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar-collapse" aria-expanded="false">
                    <span class="sr-only">zking - 课堂</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="/user/img/logo.png">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="header-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown ">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            课程
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="active" href="/user/courseSearch" >全部课程</a></li>
                            <li><a class="" href="/user/developer">开发者</a></li>
                            <li><a class="" href="/user/tiku">考核</a></li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="/user/paths/index">课程体系</a>
                    </li>
                    <li class="">
                        <a href="/pst/qindex">社区论坛</a>
                    </li>
                    <!--<li class=" new-nav logo-1111">
                        <a href="/user/userinfo/index">个人中心</a>
                    </li>-->
                </ul>
                <div class="navbar-right btns">

                <span th:if="${session.user} eq null  ">
                        <a class="btn btn-default navbar-btn sign-in" data-sign="signin" href="#sign-modal" data-toggle="modal">登入</a>
                        <a class="btn btn-default navbar-btn sign-up" data-sign="signup" href="#sign-modal" data-toggle="modal">注册</a>
                    </span>



                    <span th:if="${session.user} ne null  ">
                        <span th:if="${session.s2} eq b">
                        <a class="btn btn-default navbar-btn sign-in" data-sign="signin" href="#sign-modal" data-toggle="modal">登入</a>
                        <a class="btn btn-default navbar-btn sign-up" data-sign="signup" href="#sign-modal" data-toggle="modal">注册</a>
                        </span>
                </span>


                    <span th:if="${session.user} ne null ">
                        <span th:if="${session.s2} ne b">
                            <a href="/user/userinfo/index"><img th:src="${session.user.userImg}"class="img-circle img-responsive" style="width:30px;height: 30px; display: inline" ></a>
                        <a class="btn btn-default navbar-btn sign-up" data-sign="signup" href="/user/zhuxiao" data-toggle="modal">注销</a>
                        </span>
                    </span>
                </div>
                <form class="navbar-form navbar-right" action="/user/PageSearch" method="post" role="search">
                    <span th:if="${SearchType} eq course">
                        <select class="form-control" name="type">
                            <option value="course" selected="selected">课程</option>
                            <option value="post">帖子</option>
                        </select>
                    </span>
                    <span th:if="${SearchType} eq post">
                        <select class="form-control" name="type">
                            <option value="course">课程</option>
                            <option value="post" selected="selected">帖子</option>
                        </select>
                    </span>
                    <span th:if="${SearchType} eq null">
                        <select class="form-control" name="type">
                            <option value="course">课程</option>
                            <option value="post">帖子</option>
                        </select>
                    </span>
                    <input type="text" th:value="${content}" class="form-control" name="SearchName" autocomplete="off" placeholder="搜索 课程/帖子">
                    <button type="submit"  class="layui-btn">搜索</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="modal fade" id="sign-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="modal-body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#signin-form" aria-controls="signin-form" role="tab" data-toggle="tab">登录</a>
                        </li>
                        <li role="presentation">
                            <a href="#signup-form" aria-controls="signup-form" role="tab" data-toggle="tab">注册</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="signin-form">
                            <form action="/login" method="post">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-envelope" style="margin:0;"></i>
                                        </div>
                                        <input  name="login" class="form-control" id="userPhone" placeholder="请输入手机号"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-lock" style="margin:0;"></i>
                                        </div>
                                        <input name="password" class="form-control" id="upwd" type="password" placeholder="请输入密码" />
                                    </div>
                                </div>

                                <div class="form-group remember-login">
                                    <a href="/user/zhpasssword">忘记密码？</a>
                                </div>
                                <!--&lt;!&ndash; 手机号找回密码 &ndash;&gt;
                              <div id="sjpassword" style="display: none">

                                              <a ><button type="button" class="layui-btn layui-btn-lg layui-btn-normal">手机号找回密码</button></a>

                              </div>-->
                                <div class="form-group">
                                    <input class="btn btn-primary" name="submit" type="button" onclick="loginChak()" value="进入zking - 课堂"/>
                                </div>
                                <div class="form-group widget-signin">
                                    <span>快速登录</span>
                                    <a href="/user/qqLogin"><i class="fa fa-qq"></i></a>
                                </div>
                                <div class="form-group error-msg">
                                    <div class="alert alert-danger" role="alert"></div>
                                </div>
                            </form>
                        </div>


                        <!--注册-->
                        <div role="tabpanel" class="tab-pane" id="signup-form">
                            <form action="#" method="post" id="table">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-envelope" style="margin:0;"></i>
                                        </div>
                                        <input  name="phone" id="phone" class="form-control" placeholder="请输入手机号">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-lock" style="margin:0;"></i>
                                        </div>
                                        <input  name="password" id="password" class="form-control" type="password" placeholder="请输入密码">
                                    </div>
                                </div>
                                <div class="form-inline">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" name="captcha_v" class="form-control"  id="captcha_v" placeholder="请输入验证码">
                                        </div>
                                    </div>
                                    <button id="sendPhone" type="button" class="layui-btn">获取验证码</button>

                                </div>

                                <span id="sd"></span>
                                <div class="form-group">
                                    <input class="btn btn-primary" name="submit" type="button" onclick="zc()" value="注册">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<script type="text/javascript">
    var s=0;
    function loginChak() {
        $.ajax({
            url:"/user/login",
            type:"post",
            data:{
                userPhone:$("#userPhone").val(),
                upwd:$("#upwd").val()
            },
            success:function (data) {
                if(data==1){
                    alert("登入成功")
                    location.href="/user/";
                }
                else{
                    alert("登入失败")
                }
            }
        })
    }
</script>


</body>
</html>