<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/imgs/logo_title.png" />
    <meta name="author" content="Lei Shi">
    <meta http-equiv="Cache-Control" content="o-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="csrf-token" content="1483758872##fd2cac389b2b7c009a744bcaecaa41d71592cfe8">

        <title>zking课堂</title>

    <meta content="zking - 课堂是国内领先的IT技术实训平台，创新的实验驱动教学模式，以就业为导向，为IT相关专业的在校学生及从业者提供编程、运维、测试、云计算、大数据、数据库等全面的IT技术动手实践环境，提供Linux、Python、Java、C语言、Ruby、Android、IOS开发等热门课程。" name="description">
    <meta content="zking - 课堂,IT培训,IT教育,编程,在线编程,Linux,Linux教程,Linux操作系统,Python,Python教程,Python基础教程,Java,Java编程,C语言,大数据,Node.js,Hadoop,PHP,Docker" name="keywords">

    <meta content="zking - 课堂,琛石科技" name="author">
    <link rel="shortcut icon" href="/user/favicon.ico">
    <link rel="stylesheet" href="/user/static/font-awesome//4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/user/static/highlight.js/9.8.0/monokai-sublime.min.css">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="/user/static/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/user/static/highlight.js/9.8.0/monokai-sublime.min.css">
    <link rel="stylesheet" href="/user/app/css/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/user/app/css/libs/katex/0.6.0/katex.min.css">
    <link rel="stylesheet" href="/user/app/css/libs/videojs/5.11.7/video-js.min.css">
    <link rel="stylesheet" href="/user/app/css/dest/styles.css?=2016121272249">
    <script src="/user/static/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css"  media="all">
    <script src="/layui/layui.js"></script>
    <style>
        @font-face {
            font-family: "lantingxihei";
            src: url("/user/fonts/FZLTCXHJW.TTF");
        }

        /* modal 模态框*/
        #invite-user .modal-body {
            overflow: hidden;
        }
        #invite-user .modal-body .form-label {
            margin-bottom: 16px;
            font-size:14px;
        }
        #invite-user .modal-body .form-invite {
            width: 80%;
            padding: 6px 12px;
            background-color: #eeeeee;
            border: 1px solid #cccccc;
            border-radius: 5px;
            float: left;
            margin-right: 10px;
        }
        #invite-user .modal-body .msg-modal-style {
            background-color: #7dd383;
            margin-top: 10px;
            padding: 6px 0;
            text-align: center;
            width: 100%;
        }
        #invite-user .modal-body .modal-flash {
            position: absolute;
            top: 53px;
            right: 74px;
            z-index: 999;
        }
        /* end modal */

        .en-footer {
            padding: 30px;
            text-align: center;
            font-size: 14px;
        }
    </style>

    <style type="text/css">
        .navbar-banner {
            margin-top: 50px;
            background: url("/user/img/homepage-bg.png");
            background-size: cover;
            backgtound-repeat: no-repeat;
        }
    </style>




</head>

<body>


<!--嵌套头部header-->
<div th:replace="user/header::header"></div>





<!-- 图片轮播部分 -->
<fieldset class="layui-elem-field layui-field-title">

</fieldset>


<div class="layui-carousel" id="test10">
    <div carousel-item >

        <div th:each="p:${ps}">
            <a th:href="${p.advertisingURL}"><img th:src="${p.advertisingImg}" style="width: 100%;height:100%" ></a>
        </div>
    </div>
</div>
<script>
    layui.use(['carousel', 'form'], function(){
        var carousel = layui.carousel
            ,form = layui.form;
        //图片轮播
        var ins = carousel.render({
            elem: '#test10',
            width: '100%', //设置容器宽度
            height: '70%',
            arrow: 'always', //始终显示箭头
            anim: 'default', //切换动画方式
            interval:3000,
        });
        ins.reload({elem: '#test10'});//重置轮播图
    })
</script>





<!--<div class="navbar-banner layout-no-margin-top">
    <div class="banner-container">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <a class="container-title">
                        <img src="/user/img/container-title-2.png" />
                    </a>
                    <div style="margin-top:24px;">
                        <a id="course-btn" class="course-btn btn btn-lg" href="courses/index.html">进入课程</a>
                    </div>
                </div>

                <div class="col-md-5">

                    <form action="/quickregister" method="post">
                        <div class="form-group">
                            <input class="form-control" name="name" id="name" type="text" placeholder="昵称">
                            <div class="help-block text-left"></div>
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="email" id="email" type="email" placeholder="邮箱">
                            <div class="help-block text-left"></div>
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="password" id="password" type="password" placeholder="密码">
                            <div class="help-block text-left"></div>
                        </div>
                        <button class="btn register" type="submit">加入zking - 课堂</button>
                        <p class="tip">点击"加入zking - 课堂"，表示您已经同意我们的<a href="privacy/index.html" target="_blank"> 隐私条款</a></P>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>-->

<div class="introduce-container" id="fourFeatures">
    <div class="container">
        <div class="row">
            <div class="introduce-unit col-sm-6 col-md-3">
                <div><a class="introduce-img"><img src="/user/img/introduceContainer1.gif" /></a></div>
                <div><span class="introduce-span">丰富全面的计算机实验课程</span></div>
            </div>
            <div class="introduce-unit col-sm-6 col-md-3">
                <div><a class="introduce-img"><img src="/user/img/introduceContainer2.gif" /></a></div>
                <div><span class="introduce-span">在线编程环境，1秒启动</span></div>
            </div>
            <div class="introduce-unit col-sm-6 col-md-3">
                <div><a class="introduce-img"><img src="/user/img/introduceContainer3.gif" /></a></div>
                <div><span class="introduce-span">每天一个项目课，丰富你的项目经验</span></div>
            </div>
            <div class="introduce-unit col-sm-6 col-md-3">
                <div><a class="introduce-img"><img src="/user/img/introduceContainer4.gif" /></a></div>
                <div><span class="introduce-span">有效学习时间，真实记录你的代码生涯</span></div>
            </div>
        </div>
    </div>
</div>

<div class="line-and-laboratory">
    <div class="container">
        <div class="clearfix text-center item-header">
            <span class="line"></span>
            <span class="text-center item-title">学习路径</span>
            <span class="line"></span>
        </div>
        <div class="tab-content">
            <div class="tab-pane clearfix active" id="study-line">


                <!--绑定课程体系-->
                <div id="course">

                </div>


            </div>
        </div>
    </div>
</div>

<div class="line-and-laboratory">
    <div class="container">
        <div class="clearfix text-center item-header">
            <span class="line"></span>
            <div class="text-center item-title">最热课程</div>
            <span class="line"></span>
        </div>
        <div class="clearfix courses" id="courseFour">

            <!--============================================-->
            <!--============================================-->
            <!--===================最热课程数据绑定=========================-->
            <!--============================================-->
            <!--============================================-->

            <!--            <div class="col-md-3 col-sm-6  course">-->
            <!--    <a class="course-box" href="courses/show.html">-->
            <!--        <div class="sign-box">-->



            <!--            <i class="fa fa-star-o course-follow pull-right"-->
            <!--                data-follow-url="/courses/1/follow"-->
            <!--                data-unfollow-url="/courses/1/unfollow"  style="display:none"  ></i>-->

            <!--        </div>-->
            <!--        <div class="course-img">-->

            <!--            <img alt="Linux 基础入门（新版）" src="/user/img/ncn1.jpg">-->

            <!--        </div>-->

            <!--        <div class="course-body">-->
            <!--            <span class="course-title" data-toggle="tooltip" data-placement="bottom" title="Linux 基础入门（新版）">Linux 基础入门（新版）</span>-->
            <!--        </div>-->
            <!--        <div class="course-footer">-->
            <!--			<span class="course-per-num pull-left">-->
            <!--                <i class="fa fa-users"></i>-->

            <!--                85157-->

            <!--			</span>-->



            <!--        </div>-->
            <!--    </a>-->
            <!--</div>-->

        </div>
        <div class="clearfix item-footer">
            <div class="pull-right watch-all">
                <a href="/user/courseSearch">查看更多 ></a>
            </div>
        </div>
    </div>
</div>






<div class="modal fade" id="invite-user" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">邀请好友，双方都可获赠实验豆！</h4>
            </div>
            <div class="modal-body">

                <p><h4><a href="#sign-modal" data-toggle="modal" data-sign="signin">登录</a>后邀请好友注册，您和好友将分别获赠3个实验豆！</h4></p>

                <div id="msg-modal"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="flash-message" tabindex="-1" role="dialog">
    <div class="modal-dialog" rolw="document">
    </div>
</div>
<div class="modal fade" id="modal-message" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">注意</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary confirm" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>






<script>
    //修改手机号
    function ms(){
        layui.use('layer', function () {
            var layer = layui.layer;
            var index = layer.open({
                type: 1,
                title: '修改手机号',
                maxWidth: 400,
                shadeClose: true,
                content: $("#sjpassword"),
                end:function () {
                    $("#sjpassword").attr("style","display:none;");//隐藏
                }
            });
        });
    }

</script>

<div class="modal fade" id="sign-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#signin-form" aria-controls="signin-form" role="tab" data-toggle="tab">登录</a>
                    </li>
                    <li role="presentation">
                        <a href="#signup-form" aria-controls="signup-form" role="tab" data-toggle="tab">注册</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="signin-form">
                        <form action="/login" method="post">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-envelope" style="margin:0;"></i>
                                    </div>
                                    <input  name="login" class="form-control" id="userPhone" placeholder="请输入手机号">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-lock" style="margin:0;"></i>
                                    </div>
                                    <input name="password" class="form-control" id="upwd" type="password" placeholder="请输入密码" />
                                </div>
                            </div>

                            <div class="form-group remember-login">
                                <a href="/user/zhpasssword">忘记密码？</a>
                            </div>
                            <!--&lt;!&ndash; 手机号找回密码 &ndash;&gt;
                          <div id="sjpassword" style="display: none">

                                          <a ><button type="button" class="layui-btn layui-btn-lg layui-btn-normal">手机号找回密码</button></a>

                          </div>-->
                            <div class="form-group">
                                <input class="btn btn-primary" type="button" onclick="loginChak()" value="进入zking - 课堂">
                            </div>
                            <div class="form-group widget-signin">
                                <span>快速登录</span>
                                <a href="/user/qqLogin"><i class="fa fa-qq"></i></a>
                            </div>
                            <div class="form-group error-msg">
                                <div class="alert alert-danger" role="alert"></div>
                            </div>
                        </form>
                    </div>


                    <!--注册-->
                    <div role="tabpanel" class="tab-pane" id="signup-form">
                        <form action="#" method="post" id="table">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-envelope" style="margin:0;"></i>
                                    </div>
                                    <input  name="phone" id="phone" class="form-control" placeholder="请输入手机号">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-lock" style="margin:0;"></i>
                                    </div>
                                    <input  name="password" id="password" class="form-control" type="password" placeholder="请输入密码">
                                </div>
                            </div>
                            <div class="form-inline">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" name="captcha_v" class="form-control"  id="captcha_v" placeholder="请输入验证码">
                                    </div>
                                </div>
                                <button id="sendPhone" type="button" class="layui-btn">获取验证码</button>

                            </div>

                            <span id="sd"></span>
                            <div class="form-group">
                                <input class="btn btn-primary" name="submit" type="button" onclick="zc()" value="注册">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/user/app/dest/lib/lib.js?=2016121272249"></script>

<script src="/user/static/ace/1.2.5/ace.js"></script>
<script src="/user/static/aliyun/aliyun-oss-sdk-4.3.0.min.js"></script>
<script src="/user/static/highlight.js/9.8.0/highlight.min.js"></script>
<script src="/user/static/jspdf/1.2.61/jspdf.min.js"></script>
<script src="/user/static/plupload/2.1.9/js/plupload.full.min.js"></script>
<script src="/user/static/zeroclipboard/2.2.0/ZeroClipboard.min.js"></script>
<script src="/user/static/videojs/video.min.js"></script>
<script src="/userjs/zc.js"></script>
<script src="/userjs/login.js"></script>
<script src="/userjs/index.js"></script>
<script src="/user/static/bootstrap-tour/0.11.0/js/bootstrap-tour.min.js"></script>
<script src="/user/static/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
<script src="/user/static/bootstrap-table/1.11.0/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/user/static/bootstrap-table/1.11.0/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

<script src="/user/static/ravenjs/3.7.0/raven.min.js"></script>
<script>
    Raven.config('https://bc3878b7ed0a4468a65390bd79e6e73f@sentry.shiyanlou.com/5', {
        release: '3.12.13'
    }).install();
</script>







<div id="jinja-data"
     data-post-url="/registercheck"
></div>

<script src="/user/app/dest/frontend/index.js?=2016121272249"></script>





<!--嵌套底部header-->
<div th:replace="user/footer::footer"></div>


<!-- 轮播图自动切换 -->
<script type="text/javascript">
    $("#lb").carousel({
        interval:5000 //每隔2秒自动切换图片
    })
</script>

<!--映入首页Index.js-->
<!--        <script type="text/javascript" charset="UTF-8" src="/userjs/userIndex.js"></script>-->
<script type="text/javascript">
    $(function () {
        //绑定学习路径数据
        mycourse();
        //绑定最热课程四个
        mycourseFour();
    })


    /**
     * 绑定学习路径数据
     */
    function mycourse() {
        $.ajax({
            type:"GET",
            url:"/user/CourseEight",
            dataType:"json", //预期服务器返回数据的类型
            success:function(data){
                mydata(data);
            }
        })
    }


    //绑定体系数据
    function mydata(data){
        var objs=data.data;
        var str="";
        for (var i=0;i<objs.length;i++){
            str+="<div class=\"col-xs-12 col-sm-6 col-md-4\">" +
                "<a href=\"/user/resourseShow/"+objs[i].systemID+"\">" +
                "<div class=\"path-item\">" +
                "<div class=\"col-xs-5 col-sm-4 path-img\">" +
                "<img src="+objs[i].systemImg+">" +
                "</div>" +
                "<div class=\"col-xs-7 col-sm-8\">" +
                "<div class=\"path-name\">"+objs[i].systemName+"</div>" +
                "<div class=\"path-course-num\">" +
                "</span>"+objs[i].sourcesNum+"</span>" +
                "门课程" +
                "</div>" +
                "</div>" +
                "<div class=\"desc-layer\">" +
                "<div class=\"center\">"+objs[i].systemDesc+"</div>" +
                "</div>" +
                "</div>" +
                "</a>" +
                "</div>";
        }
        //console.log(str);
        $("#course").html(str);
    }


    /**
     * 绑定最热课程四个
     */
    function mycourseFour() {
        $.ajax({
            type:"GET",
            url:"/user/indexGetFour",
            dataType:"json", //预期服务器返回数据的类型
            success:function(data){
                myFourdata(data.data);
            }
        })
    }

    /**
     * 最热课程数据绑定
     */
    function myFourdata(data) {
        var str="";
        for (var i=0;i<data.length;i++){
            str+="<div class=\"col-md-3 col-sm-6  course\">\n" +
                "<a class=\"course-box\" href=\"/user/showCourse/"+data[i].courseID+"\">\n" +
                "<div class=\"sign-box\">\n" +
                "<i class=\"fa fa-star-o course-follow pull-right\"\n" +
                "                data-follow-url=\"/courses/1/follow\"\n" +
                "                data-unfollow-url=\"/courses/1/unfollow\"  style=\"display:none\"  ></i>\n" +
                "</div>\n" +
                "<div class=\"course-img\">\n" +
                "<img alt=\""+data[i].courseName+"\" src=\""+data[i].courseImg+"\">\n" +
                "</div>\n" +
                "<div class=\"course-body\">\n" +
                "<span class=\"course-title\" data-toggle=\"tooltip\" data-placement=\"bottom\" title=\""+data[i].courseName+"\">"+data[i].courseName+"</span>\n" +
                "</div>\n" +
                "<div class=\"course-footer\">\n" +
                "<span class=\"course-per-num pull-left\">\n" +
                "<i class=\"fa fa-users\"></i>"+data[i].courseNum+"</span>\n" +
                "</div>\n" +
                "</a>\n" +
                "</div>";
        }
        //数据开始绑定
        $("#courseFour").html(str);
    }

</script>


</body>
</html>
