<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Lei Shi">
    <meta http-equiv="Cache-Control" content="o-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="csrf-token" content="1483780974##87f89328c5616669f00302a263fe9061bb852818">


    <title>新手入门 - 学习路径 - zking - 课堂</title>


    <meta content="zking - 课堂课程分为基础课和项目课，内容涵盖了Linux、Python、Java、C语言、Ruby、Android、IOS开发、大数据、信息安全等IT技术领域。" name="description">
    <meta content="zking - 课堂课程,IT培训课程,IT实训课程,IT在线课程,all" name="keywords">

    <meta content="zking - 课堂,琛石科技" name="author">

    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="/user/static/font-awesome//4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/user/static/highlight.js/9.8.0/monokai-sublime.min.css">
    <link rel="stylesheet" href="/user/app/css/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/user/app/css/libs/katex/0.6.0/katex.min.css">
    <link rel="stylesheet" href="/user/app/css/libs/videojs/5.11.7/video-js.min.css">
    <link rel="stylesheet" href="/user/app/css/dest/styles.css?=2016121272249">
    <script src="/user/static/jquery/2.2.4/jquery.min.js"></script>
    <link rel="icon" type="image/x-icon" href="/imgs/logo_title.png" />

    <link rel="stylesheet" href="/layui/css/layui.css"  media="all">
    <script src="/layui/layui.js"></script>

    <script src="/userjs/zc.js"></script>
    <script src="/userjs/login.js"></script>

    <style>
        @font-face {
            font-family: "lantingxihei";
            src: url("/user/fonts/FZLTCXHJW.TTF");
        }

        /* modal 模态框*/
        #invite-user .modal-body {
            overflow: hidden;
        }

        #invite-user .modal-body .form-label {
            margin-bottom: 16px;
            font-size: 14px;
        }

        #invite-user .modal-body .form-invite {
            width: 80%;
            padding: 6px 12px;
            background-color: #eeeeee;
            border: 1px solid #cccccc;
            border-radius: 5px;
            float: left;
            margin-right: 10px;
        }

        #invite-user .modal-body .msg-modal-style {
            background-color: #7dd383;
            margin-top: 10px;
            padding: 6px 0;
            text-align: center;
            width: 100%;
        }

        #invite-user .modal-body .modal-flash {
            position: absolute;
            top: 53px;
            right: 74px;
            z-index: 999;
        }

        /* end modal */

        .en-footer {
            padding: 30px;
            text-align: center;
            font-size: 14px;
        }
    </style>


</head>

<body>

<!--嵌套头部header-->
<div th:replace="user/header::header"></div>


<div class="container layout layout-margin-top">

    <ol class="breadcrumb">
        <li><a href="/paths/">学习路径</a></li>
    </ol>

    <div class="row">
        <div class="col-md-9 layout-body">

            <div class="content" style="padding:0px">
                <div class="path-description" style="margin:0px">
                    <div class="path-desc-top clearfix"
                         style="background: url('/user/img/1471513740139.png') no-repeat;background-size: cover;">
                        <div class="name-total-box clearfix">
                            <div class="col-md-6 col-sm-6 col-md-offset-1 path-name">
                                <h4 th:text="${system.systemName}">新手入门</h4>
                            </div>
                            <div class="col-md-3 col-sm-6 col-md-offset-1 path-total-courses">
                                <span class="total-courses-box">课程 <span class="num" th:text="${system.sourcesNum}">0</span></span>
                            </div>
                        </div>
                        <div class="col-md-10 col-md-offset-1 path-desc-text" th:text="${system.systemDesc}">
                            简介空空如也啊...
                        </div>
                    </div>

                </div>
            </div>
            <div class="content">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#path-details" aria-controls="path-details" role="tab" data-toggle="tab">路径详情</a>
                    </li>

                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane path-details active" id="path-details">
                        <div class="details-box">

                            <div th:if="${systems==null}">
                                <div class="clearfix text-center path-title-box">
                                    <span class="line hidden-xs"></span>
                                    <span >该课程暂无阶段课程信息</span>
                                    <span class="line hidden-xs"></span>
                                </div>
                            </div>

                            <div th:each="sys:${systems}">
                                <div class="clearfix text-center path-title-box">
                                    <span class="line hidden-xs"></span>
                                    <span th:text="${sys.systemName}">暂时没定名称呢。。</span>
                                    <span class="line hidden-xs"></span>
                                </div>
                                <div class="row">

                                    <div th:each="course:${sys.courses}" class="col-md-4 col-sm-6  course">
                                            <a class="course-box" th:href="@{/user/showCourse/{id}(id=${course.courseID})}">
                                            <div class="sign-box">
                                                <i class="fa fa-star-o course-follow pull-right"
                                                   data-follow-url="/courses/63/follow"
                                                   data-unfollow-url="/courses/63/unfollow" style="display:none"></i>
                                            </div>
                                            <div class="course-img">
                                                <div class="course-img">
                                                    <img th:alt="${course.courseName}" th:src="${course.courseImg}" >
                                                </div>
                                            </div>

                                            <div class="course-body">
                                            <span class="course-title" data-toggle="tooltip" data-placement="bottom"
                                                  th:title="${course.courseName}" th:text="${course.courseName}" >新手指南之玩转zking - 课堂</span>
                                            </div>
                                            <div class="course-footer">
                                                <span class="course-per-num pull-left">
                                                    <i class="fa fa-users"></i>

                                                    <i th:text="${course.courseNum}"></i>
                                                </span>
                                            </div>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div role="tabpanel" class="tab-pane path-comment" id="path-comments">
                        <div class="comment-box">
                            <div class="comment-form">

                                <div class="comment-form-unlogin">
                                    请
                                    <a href="#sign-modal" data-toggle="modal" data-sign="signin"> 登录 </a>
                                    后发表评论
                                </div>

                            </div>
                            <div class="comment-title">最新评论</div>
                            <div class="comment-list"></div>
                            <div class="pagination-container"></div>
                        </div>
                    </div>-->
                </div>
            </div>

        </div>
        <div class="col-md-3 layout-side">
            <div class="panel panel-default panel-userinfo">
                <div class="panel-body body-userinfo">
                    <div class="media userinfo-header">
                        <div class="media-left">
                            <div class="user-avatar">
                                 <span th:if="${session.user} ne null ">
                            <a href="/user/userinfo/index"><img th:src="${session.user.userImg}" class="circle"  style="width:30px;height: 30px; display: inline" ></a>
                                        </span>

                                <span th:if="${session.user} eq null  ">
                                    <img class="circle" src="/user/img/logo-grey.png">
                                </span>


                            </div>
                        </div>
                        <div class="media-body">
                        <span th:if="${session.user} ne null ">

                            <span class="media-heading username">欢迎<span th:text="${session.user.userName}"></span>来到zking课堂</span>
                        </span>
                            <span th:if="${session.user} eq null  ">
                            <span class="media-heading username">欢迎</span>来到zking课堂</span>
                            </span>
                            <p class="vip-remain">做实验，学编程</p>
                        </div>
                    </div>
                    <div class="row userinfo-data">



                        <hr>
                        <div class="btn-group-lr">
                              <span th:if="${session.user} eq null  ">
            <a href="#sign-modal" type="button" class="btn btn-success col-md-5 col-xs-6 login-btn" data-toggle="modal" data-sign="signin">登录</a>
            <a href="#sign-modal" type="button" class="btn btn-success col-md-5 col-xs-6 col-md-offset-1 register-btn" data-toggle="modal" data-sign="signup">注册</a>
                 </span>

                            <span th:if="${session.user} ne null  ">
                        <span th:if="${session.s2} eq b">
            <a href="#sign-modal" type="button" class="btn btn-success col-md-5 col-xs-6 login-btn" data-toggle="modal" data-sign="signin">登录</a>
            <a href="#sign-modal" type="button" class="btn btn-success col-md-5 col-xs-6 col-md-offset-1 register-btn" data-toggle="modal" data-sign="signup">注册</a>
                 </span>
                </span>

                            <span th:if="${session.user} ne null  ">
                        <span th:if="${session.s2} ne b">
            <a href="/user/zhuxiao" type="button" class="btn btn-success col-md-5 col-xs-6 col-md-offset-1 register-btn" data-toggle="modal" data-sign="signup">注销</a>
                 </span>
                </span>
                        </div>

                    </div>

                    <div class="userinfo-footer row">


                        <div id="join-private-course" class="modal fade words-ctrl" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">加入私有课</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div style="margin:15px 0; font:16px;">输入教师提供的私有课程码可以加入教师的私有课程。</div>
                                        <form id="private-course-form" method="POST" action="/courses/join">
                                            <div class="form-group">
                                                <label for="code">邀请码</label>
                                                <input class="form-control" id="code" name="code" type="text" value="">
                                                <input name="_csrf_token" type=hidden
                                                       value="1483796689##5dfe74a8992e829e903291b65bbbdabafa60f4e1">
                                            </div>
                                        </form>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                        <button type="button" class="btn btn-primary"
                                                onclick="document.getElementById('private-course-form').submit();">确定
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!--最热课程数据绑定-->
            <div class="sidebox">
                <div class="sidebox-header">
                    <h4 class="sidebox-title">最热体系</h4>
                </div>
                <div class="sidebox-body course-content side-list-body" th:each="sys:${sysFive}">
                    <a th:href="@{/user/resourseShow/{id}(id=${sys.systemID})}"><img style="width:25px;height:25px" src="/user/img/1471513769430.png" th:src="${sys.systemImg}" >
                        <span th:text="${sys.systemName}"></span></a>
                </div>
            </div>
            <div class="side-image side-qrcode">
                <img src="http://www.veryedu.cn/templates/zhuojing/images/index_129.jpg">
                <div class="side-image-text">关注zking公众号，手机看教程</div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="invite-user" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title">邀请好友，双方都可获赠实验豆！</h4>
            </div>
            <div class="modal-body">

                <p><h4><a href="#sign-modal" data-toggle="modal" data-sign="signin">登录</a>后邀请好友注册，您和好友将分别获赠3个实验豆！
            </h4></p>

                <div id="msg-modal"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="flash-message" tabindex="-1" role="dialog">
    <div class="modal-dialog" rolw="document">
    </div>
</div>
<div class="modal fade" id="modal-message" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title">注意</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary confirm" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="sign-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#signin-form" aria-controls="signin-form" role="tab" data-toggle="tab">登录</a>
                    </li>
                    <li role="presentation">
                        <a href="#signup-form" aria-controls="signup-form" role="tab" data-toggle="tab">注册</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="signin-form">
                        <form action="/login" method="post">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-envelope" style="margin:0;"></i>
                                    </div>
                                    <input  name="login" class="form-control" id="userPhone" placeholder="请输入手机号">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-lock" style="margin:0;"></i>
                                    </div>
                                    <input name="password" class="form-control" id="upwd" type="password" placeholder="请输入密码" />
                                </div>
                            </div>

                            <div class="form-group remember-login">
                                <a href="/user/zhpasssword">忘记密码？</a>
                            </div>
                            <!--&lt;!&ndash; 手机号找回密码 &ndash;&gt;
                          <div id="sjpassword" style="display: none">

                                          <a ><button type="button" class="layui-btn layui-btn-lg layui-btn-normal">手机号找回密码</button></a>

                          </div>-->
                            <div class="form-group">
                                <input class="btn btn-primary" name="submit" type="button" onclick="loginChak()" value="进入zking - 课堂">
                            </div>
                            <div class="form-group widget-signin">
                                <span>快速登录</span>
                                <a href="/user/qqLogin"><i class="fa fa-qq"></i></a>
                            </div>
                            <div class="form-group error-msg">
                                <div class="alert alert-danger" role="alert"></div>
                            </div>
                        </form>
                    </div>


                    <!--注册-->
                    <div role="tabpanel" class="tab-pane" id="signup-form">
                        <form action="#" method="post" id="table">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-envelope" style="margin:0;"></i>
                                    </div>
                                    <input  name="phone" id="phone" class="form-control" placeholder="请输入手机号">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-lock" style="margin:0;"></i>
                                    </div>
                                    <input  name="password" id="password" class="form-control" type="password" placeholder="请输入密码">
                                </div>
                            </div>
                            <div class="form-inline">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" name="captcha_v" class="form-control"  id="captcha_v" placeholder="请输入验证码">
                                    </div>
                                </div>
                                <button id="sendPhone" class="verify-code">获取验证码</button>

                            </div>

                            <span id="sd"></span>
                            <div class="form-group">
                                <input class="btn btn-primary" name="submit" type="button" onclick="zc()" value="注册">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="base-data"


     data-flash="false"


     data-is-login=false

     data-is-jwt=true
     data-socket-url="wss://comet.shiyanlou.com"
     data-msg-user=""
     data-msg-system=""
></div>

<script src="/user/app/dest/lib/lib.js?=2016121272249"></script>
<script src="/user/static/jquery/2.2.4/jquery.min.js"></script>
<script src="/user/static/ace/1.2.5/ace.js"></script>
<script src="/user/static/aliyun/aliyun-oss-sdk-4.3.0.min.js"></script>
<script src="/user/static/highlight.js/9.8.0/highlight.min.js"></script>
<script src="/user/static/jspdf/1.2.61/jspdf.min.js"></script>
<script src="/user/static/plupload/2.1.9/js/plupload.full.min.js"></script>
<script src="/user/static/zeroclipboard/2.2.0/ZeroClipboard.min.js"></script>
<script src="/user/static/videojs/video.min.js"></script>

<script src="/user/static/bootstrap-tour/0.11.0/js/bootstrap-tour.min.js"></script>
<script src="/user/static/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
<script src="/user/static/bootstrap-table/1.11.0/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/user/static/bootstrap-table/1.11.0/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

<script src="/user/static/ravenjs/3.7.0/raven.min.js"></script>
<script>
    Raven.config('https://bc3878b7ed0a4468a65390bd79e6e73f@sentry.shiyanlou.com/5', {
        release: '3.12.13'
    }).install();
</script>


<div id="jinja-data"

     data-user-id="0"
     data-user-in-path="false"

     data-join-path-url="/jobs/9/join"
     data-leave-path-url="/jobs/9/leave"
     data-path-comment-url="/jobs/9/comment"
     data-user-logined="false"
></div>
<script src="/user/app/dest/path/path.js?=2016121272249"></script>


<!--包含底部-->
<div th:replace="user/footer::footer"></div>


<script type="text/javascript">
    $(function () {
        /*$.ajax({
            type:"GET",
            url:"/user/CourseEight",
            dataType:"json", //预期服务器返回数据的类型
            success:function(data){
                mydata(data);
            }
        })*/
    })
</script>


</body>
</html>
