<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Lei Shi">
		<meta http-equiv="Cache-Control" content="o-transform">
		<meta http-equiv="Cache-Control" content="no-siteapp">
		<meta name="csrf-token" content="1483780974##87f89328c5616669f00302a263fe9061bb852818">
		<title>个人中心</title>
		<meta content="实验楼课程分为基础课和项目课，内容涵盖了Linux、Python、Java、C语言、Ruby、Android、IOS开发、大数据、信息安全等IT技术领域。" name="description">
		<meta content="实验楼课程,IT培训课程,IT实训课程,IT在线课程,all" name="keywords">
		<meta content="实验楼,琛石科技" name="author">

		<link rel="shortcut icon" href="favicon.ico">
		<link rel="stylesheet" href="/user/static/font-awesome//4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/user/static/highlight.js/9.8.0/monokai-sublime.min.css">
		<link rel="stylesheet" href="/user/app/css/libs/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="/user/app/css/libs/katex/0.6.0/katex.min.css">
		<link rel="stylesheet" href="/user/app/css/libs/videojs/5.11.7/video-js.min.css">
		<link rel="stylesheet" href="/user/app/css/dest/styles.css?=2016121272249">
		
		<style>
		@font-face {
			font-family: "lantingxihei";
			src: url("/user/fonts/FZLTCXHJW.TTF");
		}

        /* modal 模态框*/
        #invite-user .modal-body {
            overflow: hidden;
        }
		#invite-user .modal-body .form-label {
			margin-bottom: 16px;
			font-size:14px;
		}
		#invite-user .modal-body .form-invite {
			width: 80%;
			padding: 6px 12px;
			background-color: #eeeeee;
			border: 1px solid #cccccc;
			border-radius: 5px;
			float: left;
			margin-right: 10px;
		}
		#invite-user .modal-body .msg-modal-style {
			background-color: #7dd383;
			margin-top: 10px;
			padding: 6px 0;
			text-align: center;
			width: 100%;
		}
		#invite-user .modal-body .modal-flash {
			position: absolute;
			top: 53px;
			right: 74px;
			z-index: 999;
		}
		/* end modal */

        .en-footer {
            padding: 30px;
            text-align: center;
            font-size: 14px;
        }
    </style>

<style>
	a:hover,
    a:focus {
        text-decoration: none;
    }
    span.label {
        display: inline-block;
        margin: 10px 3px 16px 3px;
        padding: 6px 16px;
        border: none;
        font-size: 14px;
        font-weight: 100;
    }
    span.label-default {
        color: #999;
        background: none;
    }
    span.label-success {
        color: #0c9;
        background: #E7F8F2;
    }
    .userinfo-banner [data-toggle="tooltip"] {
        display: inline-block;
        border-bottom: dashed 1px #999;;
        color: #999 !important;
    }
	.certificate-item {
		padding-top: 10px;
	}
	.certificate-item a {
		color: #444;
	}
</style>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top header">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar-collapse"
					 aria-expanded="false">
						<span class="sr-only">实验楼</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/user/index.html">
						<img src="/user/img/logo_03.png">
					</a>
				</div>
				<div class="collapse navbar-collapse" id="header-navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="dropdown active">
							<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
								课程
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a class="active" href="/user/courses/index.html">全部课程</a></li>
								<li><a class="" href="/user/courses/index.html?status=preview">即将上线</a></li>
								<li><a class="" href="/user/developer/index.html">开发者</a></li>
							</ul>
						</li>
						<li class="">
							<a href="/user/paths/index.html">路径</a>
						</li>
						<li class="">
							<a href="/user/questions/index.html">讨论区</a>
						</li>
						<li class=" bootcamp new-nav logo-1111">
							<a href="/user/bootcamp/index.html">训练营</a>
						</li>
						<li class=" new-nav logo-1111">
							<a href="/user/vip/index.html">会员</a>
						</li>
					</ul>

					<div class="navbar-right btns" style="margin: 12px;">
						<img src="/user/img/weixin.png"class="img-circle img-responsive" style="width:30px;height: 30px; display: inline" >
						<span style="color: white;">12345@qq.com</span>
					</div>

					<form class="navbar-form navbar-right" action="/user/search" method="get" role="search">
						<div class="form-group">
							<input type="text" class="form-control" name="search" autocomplete="off" placeholder="搜索 课程/问答">
						</div>
					</form>
				</div>
			</div>
		</nav>

		<div class="userinfo-banner layout-no-margin-top">
			<div class="container layout">
				<div class="row">
					<div class="col-md-9 clearfix">
						<div class="pull-left userinfo-banner-avatar">
							<div class="user-avatar ">
								<a class="avatar" href="#" target="_blank">
									<img src="https://dn-simplecloud.shiyanlou.com/gravatarc51ce410c124a10e0db5e4b97fc2af39.png?v=1439957390221&amp;imageView2/1/w/200/h/200">
								</a>
								<a class="member-icon" href="/user//user/vip/index.html" target="_blank">
									<img src=" /user/img/vip-icon.png">
								</a>
							</div>
						</div>
				
						<div class="pull-left userinfo-banner-details">
							<div class="userinfo-banner-meta">
								<div class="user-username ">
									<a class="username" href="#" target="_blank">石头山</a>
									<span class="user-level">L195</span>
								</div>
							</div>
							<div class="userinfo-banner-status">
									<span>学生</span>
									<a href="/edu/1" target="_blank">北京大学</a>
							</div>
							<div class="userinfo-banner-status">
									<span>积分:</span>
									<strong>123</strong>
							</div>
						</div>
					</div>

					<div class="col-md-3 userinfo-banner-labinfo">
						<div class="userinfo-banner-level">
							<img src="/user/img/lou-level.png">
							<div class="userinfo-current-level"><span>195</span> 楼</div>
							<div class="userinfo-level-more" data-toggle="tooltip" data-placement="bottom" title="在实验环境中动手输入代码或命令时才计入有效学习时间">
								距 196 楼还需 16 分钟有效学习时间
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container layout">
			<div class="row">
				<div class="col-md-1 layout-side" >
					<ul class="list-group">
						<div class="text-center">
							<a href="#get1" class="list-group-item" id="zhongxin" >个人中心</a>
							<a href="#get2" class="list-group-item" id="kecheng">我的课程</a>
							<a href="#get3" class="list-group-item" id="huida">我的回答</a>
							<a href="#get4" class="list-group-item" id="shoucang">我的收藏</a>
							<a href="#get5" class="list-group-item" id="xiaoxi">消息中心</a>
							<a href="#get9" class="list-group-item" id="tiezi">我的文章</a>
						</div>
					</ul>
					<ul class="list-group">
						<div class="text-center">
							<a href="#get6" class="list-group-item" id="xinxi">个人信息</a>
							<a href="#get7" class="list-group-item" id="haoyou">邀请好友</a>
							<a href="#get8" class="list-group-item" id="chongzhi">积分充值</a>
						</div>
					</ul>
				</div>
				<div class="col-md-11 layout-body " id="get1">
							<div class="content" role="tabpanel" >
								<ul class="nav nav-tabs" rolw="tablist" id="nav">
									<li role="presentation" class="active">
										<a href="#yi" class="active">基本信息</a>
									</li>
									<li role="presentation">
										<a href="#er" >修改密码</a>
									</li>
									<li role="presentation">
										<a href="#san">我的课程</a>
									</li>
								</ul>
								
								<div class="tab-content">
									<div id="yi" class="tab-pane fade in active" style="height: 300px;">
										<form class="form-horizontal">
												  <div class="form-group">
													<label for="inputEmail3" class="col-xs-4 control-label">昵称</label>
													<div class="col-sm-3">
													  <input type="text" class="form-control" id="inputEmail3" value="艰难人生">
													</div>
												  </div>
												  <div class="form-group">
													<label for="inputName" class="col-xs-4 control-label">姓名</label>
													<div class="col-xs-3">
													  <input type="text" class="form-control" id="inputName" value="颜值帅">
													</div>
												  </div>
												  <div class="form-group">
													<label for="inputAge" class="col-xs-4 control-label">年龄</label>
													<div class="col-xs-3">
													  <input type="text" class="form-control" id="inputAge" value="21">
													</div>
												  </div>
												  <div class="form-group">
													<label for="inputShou" class="col-xs-4 control-label">手机号</label>
													<div class="col-xs-3">
													  <input type="text" class="form-control" id="inputShou" value="123456789101">
													</div>
												  </div>
												  <div class="form-group">
													<label for="inputEmail" class="col-xs-4 control-label">邮箱</label>
													<div class="col-xs-3">
													  <input type="email" class="form-control" id="inputEmail" value="123456@qq.com">
													</div>
												  </div>
												  <div class="form-group">
													<div class="col-xs-offset-4 col-xs-9">
														<label>
														  注:完善信息方便找回密码，账号更安全。
														</label>
													</div>
												  </div>
												  <div class="form-group">
													<div class="col-xs-offset-5 col-xs-9">
													  <button type="submit" class="btn btn-default">编辑资料</button>
													</div>
												  </div>
										</form>
									</div>
									<div id="er" class="tab-pane fade" style="height: 300px;">
										<form class="form-horizontal">
											  <div class="form-group">
												<label for="inputEmail3" class="col-xs-4 control-label">原密码</label>
												<div class="col-sm-3">
												  <input type="email" class="form-control" id="inputEmail3" placeholder="原密码">
												</div>
											  </div>
											  <div class="form-group">
												<label for="inputPassword3" class="col-xs-4 control-label">新密码</label>
												<div class="col-xs-3">
												  <input type="password" class="form-control" id="inputPassword3" placeholder="新密码">
												</div>
											  </div>
											  <div class="form-group">
												<label for="inputPassword3" class="col-xs-4 control-label">确认密码</label>
												<div class="col-xs-3">
												  <input type="password" class="form-control" id="inputPassword3" placeholder="确认密码">
												</div>
											  </div>
											  <div class="form-group">
												<div class="col-xs-offset-5 col-xs-9">
												  <button type="submit" class="btn btn-default">修改</button>
												</div>
											  </div>
										</form>
									</div>
									<div id="san" class="tab-pane fade" style="height: 300px;">3</div>
								</div>
							</div>
				</div>
				
					
					<div class="col-md-11 layout-body" id="get2" >
						<div class="content" style="height: 300px;">
							<h3>我的课程</h3>						
						</div>
					</div>
					<div class="col-md-11 layout-body" id="get3" >
						<div class="content" style="height: 300px;">
							<h3>我的回答</h3>						
						</div>
					</div>
					<div class="col-md-11 layout-body" id="get4" >
						<div class="content" style="height: 300px;">
							<h3>我的收藏</h3>						
						</div>
					</div>
					<div class="col-md-11 layout-body" id="get5" >
						<div class="content" style="height: 300px;">
							<h3>消息中心</h3>

						</div>
					</div>
				<div class="col-md-11 layout-body" id="get9" >
					<div class="content" style="height: 300px;">
						<h3>我的文章</h3>
						<div class="col-sm-10">
							<h4>

								<img src="/user/img/topQuestion.png">

								<a class="question-item-title" href="show.html" target="_blank">
									实验楼百楼俱乐部成立，欢迎100楼的你加入！</a>

							</h4>
							<div class="question-item-summary">


								<div class="user-username ">
									<a class="avatar" href="/user/user/13/study.html" target="_blank">
										shiyanlouadmin
									</a>
									<span class="user-level">L14</span>
								</div>


								<span class="question-item-date">3小时前</span>
									最后回复 <span class="question-item-date">
									<div class="user-username ">
										<a class="username" href="/user/256544" target="_blank">
												芃逆明
										</a>
										<span class="user-level">L38</span>
									</div>
                             </span>

							</div>
						</div>
						<div class="col-md-2 question-item-rank">
							<div class="question-item-answered">
								<div>89</div>
								<div>回复</div>
							</div>
							<div class="question-item-views">
								<div>2409</div>
								<div>查看</div>
							</div>
						</div>

					<div class="col-md-11 layout-body" id="get6" >
						<div class="content" style="height: 300px;">
							<h3>个人信息</h3>						
						</div>
					</div>
					<div class="col-md-11 layout-body" id="get7" >
						<div class="content" style="height: 300px;">
							<h3>邀请好友</h3>						
						</div>
					</div>
                <!--积分充值-->
            <div class="col-md-11 layout-body" id="get8" >
                <div class="content" style="height: 330px;">
                    <h3>积分充值</h3><br>
                    <form style="margin-left: 100px;">
                        <div class="form-group">
                            <label for="money" style="font-size: 16px;">充值金额</label>
                            <input type="text" style="width: 200px;" class="form-control" id="money" placeholder="金额">
                        </div>
                        <div class="form-group">
                            <label for="integral" style="font-size: 16px;">充值积分</label>
                            <input type="text" style="width: 200px;" class="form-control" id="integral" placeholder="积分">
                        </div>
                        <button id="czjf" class="btn btn-default">充值</button>
                    </form>
                </div>
            </div>

			</div>
		</div>
		

		<div class="modal fade" id="message-modal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title">发送消息给 石头山</h4>
					</div>
					<div class="modal-body">
						<textarea style="width:100%; min-height:100px; max-width:100%;"></textarea>
					</div>
					<div class="modal-footer">
						<button class="btn btn-default" data-dismiss="modal">取消</button>
						<button class="btn btn-primary send-btn">发送</button>
					</div>
				</div>
			</div>
		</div>

		<script src="/user/app/dest/lib/lib.js?=2016121272249"></script>
		<script src="/user/static/jquery/2.2.4/jquery.min.js"></script>
		<script src="/user/static/ace/1.2.5/ace.js"></script>
		<script src="/user/static/aliyun/aliyun-oss-sdk-4.3.0.min.js"></script>
		<script src="/user/static/highlight.js/9.8.0/highlight.min.js"></script>
		<script src="/user/static/jspdf/1.2.61/jspdf.min.js"></script>
		<script src="/user/static/plupload/2.1.9/js/plupload.full.min.js"></script>
		<script src="/user/static/zeroclipboard/2.2.0/ZeroClipboard.min.js"></script>
		<script src="/user/static/videojs/video.min.js"></script>
		<script src="/user/static/bootstrap-tour/0.11.0/js/bootstrap-tour.min.js"></script>
		<script src="/user/static/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
		<script src="/user/static/bootstrap-table/1.11.0/locale/bootstrap-table-zh-CN.min.js"></script>
		<script src="/user/static/bootstrap-table/1.11.0/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

		<script src="/user/static/ravenjs/3.7.0/raven.min.js"></script>
        <script src="/userjs/charge.js"></script>
		<script>
			Raven.config('https://bc3878b7ed0a4468a65390bd79e6e73f@sentry.shiyanlou.com/5', {
				release: '3.12.13'
			}).install();
			
			/* 标签页 */
			$("#nav a").click(function(e){
				e.preventDefault(); //阻止a标签的跳转
				$(this).tab("show"); //展示相对应的内容
			})
			$(function(){
				$("#yi").tab("show");
			})
			
			/* 控制标签跳转 */
				$("#get2").hide();
				$("#get3").hide();
				$("#get4").hide();
				$("#get5").hide();
				$("#get6").hide();
				$("#get7").hide();
				$("#get8").hide();
			    $("#get9").hide();
				$("#kecheng").click(function(){
					$("#get1").hide();
					$("#get3").hide();
					$("#get4").hide();
					$("#get5").hide();
					$("#get6").hide();
					$("#get7").hide();
					$("#get8").hide();
					$("#get9").hide();
					
					$("#get2").show();
				});
				$("#zhongxin").click(function(){
					$("#get2").hide();
					$("#get1").show();
					$("#get3").hide();
					$("#get4").hide();
					$("#get5").hide();
					$("#get6").hide();
					$("#get7").hide();
					$("#get8").hide();
					$("#get9").hide();
				});
				$("#huida").click(function(){
					$("#get2").hide();
					$("#get3").show();
					$("#get1").hide();
					$("#get4").hide();
					$("#get5").hide();
					$("#get6").hide();
					$("#get7").hide();
					$("#get8").hide();
					$("#get9").hide();
				});
				$("#shoucang").click(function(){
					$("#get2").hide();
					$("#get4").show();
					$("#get1").hide();
					$("#get3").hide();
					$("#get5").hide();
					$("#get6").hide();
					$("#get7").hide();
					$("#get8").hide();
					$("#get9").hide();
				});
				$("#xiaoxi").click(function(){
					$("#get2").hide();
					$("#get5").show();
					$("#get1").hide();
					$("#get3").hide();
					$("#get4").hide();
					$("#get6").hide();
					$("#get7").hide();
					$("#get8").hide();
					$("#get9").hide();
				});
				$("#xinxi").click(function(){
					$("#get2").hide();
					$("#get6").show();
					$("#get1").hide();
					$("#get3").hide();
					$("#get4").hide();
					$("#get5").hide();
					$("#get7").hide();
					$("#get8").hide();
					$("#get9").hide();
				});
				$("#haoyou").click(function(){
					$("#get2").hide();
					$("#get7").show();
					$("#get1").hide();
					$("#get3").hide();
					$("#get4").hide();
					$("#get5").hide();
					$("#get6").hide();
					$("#get8").hide();
					$("#get9").hide();
				});
				$("#chongzhi").click(function(){
					$("#get2").hide();
					$("#get8").show();
					$("#get1").hide();
					$("#get3").hide();
					$("#get4").hide();
					$("#get5").hide();
					$("#get6").hide();
					$("#get7").hide();
					$("#get9").hide();
				});
			$("#tiezi").click(function(){
				$("#get8").hide();
				$("#get9").show();
				$("#get2").hide();
				$("#get3").hide();
				$("#get4").hide();
				$("#get5").hide();
				$("#get6").hide();
				$("#get7").hide();
			});
			
			
		</script>

		<script src="/user/app/dest/user/index.js?=2016121272249"></script>
	</body>
</html>
