<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Title</title>
</head>

<link rel="stylesheet" type="text/css" href="/user/styles/simditor.css" />
<link rel="stylesheet" type="text/css" href="/user/layui/css/layui.css" />


<body>
<!--隐藏的表单-->
<form class="layui-form"  id="formTable" style="display: none">
    <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-inline">
            <input type="text" name="postName" id="postName" required lay-verify="required"  autocomplete="off" class="layui-input">
        </div>
    </div>



    <div class="layui-form-item">
        <label class="layui-form-label">帖子分类</label>
        <div class="layui-input-block" id="xlk">

        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">私密文章</label>
        <div class="layui-input-block" id="xb">
            <input type="radio" name="postState"   value="0" title="公开" checked="">
            <input type="radio" name="postState"   value="1" title="私密">
        </div>


    </div>


        <div><label style="margin: auto">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            温馨提示：请勿发布、传播、储存违反国家法律法规以及翻墙类内</label>
        </div>



    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="demo1" id="demo1">发布</button>
        </div>
    </div>

</form>


<textarea id="editor" placeholder="Balabala" autofocus></textarea>
<script type="text/javascript" src="/user/layui/layui.js"></script>
<script type="text/javascript" src="/user/scripts/jquery.min.js"></script>
<script type="text/javascript" src="/user/scripts/module.js"></script>
<script type="text/javascript" src="/user/scripts/hotkeys.js"></script>
<script type="text/javascript" src="/user/scripts/uploader.js"></script>
<script type="text/javascript" src="/user/scripts/simditor.js"></script>

<script>

    $(function(){
        Simditor.locale = 'zh-CN';//设置中文
        var editor = new Simditor({
            textarea: $("#editor"),  //textarea的id
            placeholder: '',
            toolbar:  ['title', 'bold', 'italic', 'underline', 'strikethrough', 'fontScale', 'color', '|', 'ol', 'ul', 'blockquote', 'code', 'table', '|', 'link', 'image', 'hr', '|', 'indent', 'outdent', 'alignment'], //工具条都包含哪些内容
            pasteImage: true,//允许粘贴图片
            defaultImage: '/simditor/images/image.png',//编辑器插入的默认图片，此处可以删除
            upload : {
                url : '/smiditor/uploadSimditorImg', //文件上传的接口地址
                params: null, //键值对,指定文件上传接口的额外参数,上传的时候随文件一起提交
                fileKey:'file', //服务器端获取文件数据的参数名
                connectionCount: 3,
                leaveConfirm: '正在上传文件'
            }
        });
    });

    function test() {
        alert($("#editor").val());
        $("#456").html($("#editor").val());
    }
</script>



<button type="button" class="layui-btn layui-btn-danger" id="fb">发布</button>
<script type="text/javascript" src="/user/post/postadd.js"></script>
</body>
</html>