<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>zking课堂后台登录</title>
	<link rel="icon" type="image/x-icon" href="/imgs/logo_title.png" />

	<meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
  <meta name="author" content="Vincent Garreau" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" media="screen" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/reset.css"/>
	<link rel="stylesheet" href="/layui/css/layui.css"  media="all">
	<script src="/layui/layui.js"></script>
</head>
<body>

<div id="particles-js">
	<!--<form class="login-form">
		<h2>管理登录</h2>
		<input type="text" placeholder="用户名" id="user_name"/>
		<input type="password" placeholder="密码" id="password"/>
		<button id="login">登　录</button>
	</form>-->
		<div class="login">
			<div class="login-top">
				登录
			</div>
			<form>
				<div class="login-center clearfix">
					<div class="login-center-img"><img src="/img/name.png"/></div>
					<div class="login-center-input">
						<input type="text" name="" value="" id="user_name" placeholder="请输入您的用户名" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的用户名'"/>
						<div class="login-center-input-text">用户名</div>
					</div>
				</div>
				<div class="login-center clearfix">
					<div class="login-center-img"><img src="/img/password.png"/></div>
					<div class="login-center-input">
						<input type="password" name=""value="" id="password" placeholder="请输入您的密码" onKeypress="javascript:if(event.keyCode == 32)event.returnValue = false;" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的密码'"/>
						<div class="login-center-input-text" >密码</div>
					</div>
				</div>
				<div class="login-button" id="login">
					登陆
				</div>
			</form>
		</div>
		<div class="sk-rotating-plane"></div>
</div>

<!-- scripts -->
<script src="/js/particles.min.js"></script>
<script src="/js/app.js"></script>
<script src="/admin/js/jquery.min.js"></script>
<script type="text/javascript">
	function check_login() {
		var layer;
		layui.use('layer',function () {
			layer = layui.layer;
		});

		var name = $("#user_name").val();
		var pass = $("#password").val();

		if(name==""){
			layer.msg("请输入用户名");
			return;
		}
		else if(pass==""){
			layer.msg("请输入密码");
			return;
		}
		else{
			$.ajax({
				url: "/admin/login",
				type: "post",
				data: {name: name, pass: pass},
				success: function (data) {
					if (name == data.empName && pass == data.empPassword) {
						$("#user_name").val("");
						$("#password").val("");
						$(location).attr('href', '/admin/index');
					}
					else {
						layer.msg("用户名或密码有误");
						$("#login_form").removeClass('shake_effect');
						$("#password").val("");
						setTimeout(function () {
							$("#login_form").addClass('shake_effect')
						}, 1);
					}
				}
			});
		}
	}

	$(function () {
		$("#create").click(function () {
			check_register();
			return false;
		})
		$("#login").click(function () {
			check_login();
			return false;
		})
		$('.message a').click(function () {
			$('form').animate({
				height: 'toggle',
				opacity: 'toggle'
			}, 'slow');
		});
	})
</script>
<script>

	$(function(){
		pushHistory();
		window.addEventListener("popstate", function(e) {
			// alert("监听到返回按钮事件啦");
			//根据自己的需求实现自己的功能
			window.location.href = '/admin'
		}, false);
		function pushHistory() {
			var state = {
				title: "title",
				url: "#"
			};
			window.history.pushState(state, "title", "#");
		}
	});
</script>

</body>
</html>